:root {
    --primary-color: #1B91FF;
    --white-color: #fff;
    --background-color: #F5F5F5;
    --text-color: #848089;
    --border-color: #dbdbdb;
    --star-gold-color: #ffce3e;

    --header-height: 100px;
    --navbar-height: 60px;
    --header-with-search-height: calc(var(--header-height) - var(--navbar-height));
    --header-sort-bar-height: 46px;
}