* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.freeship {
    font-size: 13px;
    line-height: 20px;
    padding: 8px 16px;
    display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
    border: 1px solid hsl(210deg 100% 88%);
    background: hsl(208deg 100% 97%);
    border-radius: 8px;
    box-sizing: border-box;
    margin: 8px 0px;
}

.main-title {
    margin: 20px 0px 15px 0;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
}

.main-title h4 {
    text-transform: uppercase;
    line-height: 28px;
    font-size: 20px;
    font-weight: 500;
}

.main-title img {
    margin: 0 5px;
}

.cart-title {
    width: 100%;
    background: hsl(0deg 0% 100%);
    padding: 9px 20px;
    border-radius: 4px;
    color: hsl(0deg 0% 14%);
    font-weight: 400;
    font-size: 13px;
    margin-bottom: 12px;
    position: sticky;
    position: -webkit-sticky;
    position: -moz-sticky;
    position: -ms-sticky;
    position: -o-sticky;
    position: -webkit-sticky;
    top: 20px;
    z-index: 99;
    display: grid;
    grid-template-columns: 398px 190px 130px 115px 30px;
    -webkit-box-align: center;
    align-items: center;
}

.main {
    background-color: var(--background-color);
}

.section__container {
    display: block;
    background-color: var(--white-color);
    border-radius: 4px;
    padding: 10px;
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 10px;
}

.block-header {
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.block-header__nav {
    text-decoration: none;
}

.customer_info {
    display: flex;
    font-weight: 600;
}

.customer_info__name {
    border-right: 2px solid var(--background-color);
    padding-right: 3px;
    margin-right: 3px;
}

.option-header {
    right: 8px;
    bottom: inherit;
}

.block-header__usage {
    display: flex;
    align-items: center;
    gap: 3px
}

.show-more {
    margin-top: 20px;
    display: flex;
    align-items: center;
}

.show-more a {
    text-decoration: none;
    padding-left: 3px;
}

.prices__calc {
    color: hsl(1deg 99% 60%);
    border-radius: 4px;
    padding: 10px;
    background-color: var(--white-color);
    list-style: none;
}

.prices__value {
    color: hsl(1deg 99% 60%);
    font-size: 15px;
    font-weight: 400;
    text-align: right;
}

.prices__item {
    display: flex;
    justify-content: space-between;
    line-height: 25px;
}

.prices__total {
    display: flex;
    flex-wrap: nowrap;
    -webkit-box-pack: justify;
    justify-content: space-between;
    margin: 0px;
}

.buy-items {
    background: hsl(356deg 100% 63%);
    color: hsl(0deg 0% 100%);
    padding: 13px 10px;
    text-align: center;
    border-radius: 4px;
    border: none;
    width: 100%;
    display: block;
    cursor: pointer;
    margin: 15px 0px 8px 0px;
}

#chat-platform {
    position: fixed;
    display: flex;
    align-items: center;
    bottom: 0;
    right: 0;
    background-color: var(--white-color);
    padding: 10px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    right: 10px;
    color: var(--primary-color);
    box-shadow: 10px 10px 8px 10px rgba(255, 255, 255, 0.296);
}

#chat-platform span {
    padding-left: 5px;
}

.sellers__icon-home {
    width: 15px;
    height: 15px;
    margin: 0 10px;
}

.sellers__name {
    margin-right: 5px;
    text-decoration: none;
}

.sellers__name img {
    padding-left: 5px;
}

.progress-bar {
    position: relative;
    margin-right: 12px;
    display: flex;
    flex: 1 1 0%;
    -webkit-box-pack: justify;
    justify-content: space-between;
    max-width: 540px;
}

.progress-bar::before {
    content: "";
    position: absolute;
    background-color: hsl(240deg 14% 93%);
    border-radius: 100px;
    width: 100%;
    height: 6px;
    transform: translateY(-50%);
    top: 50%;
    z-index: 0;
}

.fmGhGO {
    position: relative;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    z-index: 2;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: hsl(0deg 0% 100%);
    border: 1px solid hsl(240deg 10% 88%);
}

.right-info {
    margin-right: 50px;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
}

.styles__progress {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    height: 48px;
    margin-bottom: 10px;
}

.milestone-info--top {
    position: absolute;
    top: -16px;
    font-size: 11px;
    line-height: 16px;
    color: hsl(240deg 4% 52%);
    font-weight: 300;
}

.milestone-info--bottom {
    position: absolute;
    top: 16px;
    font-size: 11px;
    line-height: 16px;
    color: hsl(240deg 4% 52%);
    font-weight: 300;
}

.content,
.title {
    display: flex;
    margin-bottom: 5px;
}

.content .more {
    transform: rotate(90deg);
    transition-duration: 0.5s;
    cursor: pointer;
}

.styles__styledIntended {
    display: flex;
}

.product__img img {
    width: 80px;
    height: 80px;
}

.col-1 .product__images {
    display: flex;
}

.style-left {
    background-color: var(--white-color);
    width: 100%;
}

.kJwXxa {
    padding: 10px;
    margin-left: 20px;
}

.styles__styledNormalProduct {
    margin-top: 5px;
}

.product__checkbox {
    display: flex;
    align-items: center;
    justify-content: center;
}

.product__name {
    text-decoration: none;
    color: #333;
}

.title span {
    font-size: 11px;
    line-height: 16px;
    margin-left: 6px;
    text-decoration-line: none;
    color: hsl(211deg 91% 47%);
    border: 1px solid hsl(211deg 91% 47%);
    border-radius: 4px;
    box-sizing: border-box;
    padding: 3px 6px;
}

.title a {
    text-decoration: none;
}

.col-2 {
    padding-left: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.col-3 {
    display: flex;
    align-items: center;
}

.col-4 {
    display: flex;
    align-items: center;
}

.col-5 {
    display: flex;
    align-items: center;
}

.qty-input {
    text-align: center;
    width: 30px;
    padding-left: 6px;
}

.fFLyxa {
    margin: 0 20px;
    display: inline-flex;
    flex-wrap: nowrap;
    border: 1px solid hsl(0deg 0% 78%);
    border-radius: 3px;
    width: 84px;
}

.product__final-prices {
    margin-right: 55px;
}

.description {
    padding: 8px 0;
}

.cart-title .label {
    margin-left: 12px;
}

.styles__styledCheckbox {
    vertical-align: middle;
}

.product__real-prices {
    margin-right: 3px;
}

.product__icon--fast {
    margin-right: 5px;
}

.info-banner__message img {
    margin-left: 8px;
}

.info-banner__more-info {
    margin-left: 20px;
}

input[type="checkbox"] {
    width: 18px;
    height: 18px;
    font-family: inherit;
    line-height: 1.15;
    margin: 0px;
    border: 1px solid hsl(240deg 10% 79%);
    border-radius: 4px;
}

.sellers__group {
    margin-top: 10px;
}

.sellers__group a {
    color: #333;
    font-weight: 900;
}

#header__responsive {
    display: none;
}