* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}

.img-slide {
    background-color: var(--white-color);
}

.d-flex {
    display: flex;
}

.main-header {
    display: flex;
    justify-content: space-between;
}

.header-option-list {
    display: flex;
    list-style: none;
}

.nav-header {
    height: 100px;
    background-color: #1A94FF;
    color: #fff;
    font-size: 11px;
}

.header-logo {
    position: relative;
    margin-top: 15px;
    width: 205px;
}

.header-logo img {
    height: 40px;
    width: 55px;
}

.header-notification {
    display: none;
}

.header-cart {
    position: relative;
    transform: translateY(7px);
}

.header-cart-icon {
    display: flex;
    margin-top: 20px;
    width: 110px;
}

.header-cart-icon p {
    padding-top: 15px;
}

.header-cart-notice {
    position: absolute;
    padding: 3px 8px;
    border-radius: 100%;
    background-color: #F1D53F;
    left: 20px;
    top: 15px;
}

.header-input-search {
    position: relative;
    right: 0;
    display: flex;
    flex: 1;
}

.header-input-search button {
    cursor: pointer;
    width: 120px;
    background: hsl(212deg 87% 38%);
    height: 40px;
    border-radius: 0px 2px 2px 0px;
    color: hsl(0deg 0% 100%);
    font-size: 13px;
    font-weight: 500;
    outline: none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
}

.header-input-search .icon-search {
    width: 20px;
    height: 20px;
    display: block;
}

.header-input p {
    margin-left: 8px;
}

.header-input {
    display: flex;
    width: 100%;
    position: relative;
}

.header-input input,
.header-input-search button {
    margin-top: 16px;
    line-height: 40px;
    height: 40px;
    border: none;
}

.header-input input {
    position: relative;
    width: 100%;
    padding: 0 12px;
    border-radius: 2px;
    border: none;
    outline: none;
}

.header-input input:focus~.header-input__list {
    display: block;
}

.header-input__list {
    display: none;
}

.header-input__list {
    position: absolute;
    z-index: 1000;
    top: 97%;
    list-style: none;
    background-color: hsl(0deg 0% 100%);
    border-radius: 0px 0px 3px 3px;
    border-top: 1px solid hsl(0deg 0% 88%);
    box-shadow: rgb(0 0 0 / 28%) 0px 6px 12px 0px;
}

.header-input__list-widgets .promo {
    padding: 8px 16px 8px 22px;
    color: hsl(0deg 0% 14%);
    font-size: 13px;
    line-height: 20px;
    text-decoration: none;
    font-weight: 700;
    border-top: 1px solid hsl(0deg 0% 95%);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.item-suggestion .item {
    color: hsl(0deg 0% 14%);
    height: 36px;
    font-size: 13px;
    line-height: 1.67;
    text-decoration: none;
    font-weight: 700;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    padding: 0px 16px;
}

.item-suggestion .item:hover {
    cursor: pointer;
    background-color: hsl(203deg 100% 55% / 10%);
}

.item-suggestion .item:first-child {
    border-top: 0px;
}

.item-suggestion .item>.info {
    margin-left: 8px;
    display: flex;
    gap: 3px;
}

.header-input__list-widgets .promo>.webpimg-container img {
    border-radius: 4px;
    height: 28px;
    max-width: 100%;
    object-fit: contain;
}

.item-suggestion .item>.item-icon {
    width: 35px;
    height: 35px;
}

.header-input__list-widgets .promo:first-child {
    border-top: 0px;
}

.item-suggestion .item>.keyword {
    padding-left: 8px;
}

.item-suggestion .show-more {
    font-size: 12px;
    line-height: 1.67;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    color: hsl(212deg 87% 38%);
}

.item-suggestion .show-more>div {
    display: flex;
    padding: 6px 16px;
    -webkit-box-align: center;
    align-items: center;
    cursor: pointer;
}

.item-suggestion .show-more .show-more__icon {
    margin-left: 8px;
    transform: rotate(90deg);
}

.hot-keywords,
.hot-categories {
    background-color: #ffffff;
    padding: 8px 12px 12px;
    border-top: 1px solid #f2f2f2;
    border-radius: 0 0 5px 5px;
}

.hot-keywords .wrap-heading {
    display: flex;
    align-items: center;
    font-size: 15px;
    font-weight: 700;
    color: #333;
    line-height: 24px;
    padding: 0px 0px 8px;
}

.hot-keywords .trending {
    width: 24px;
    height: 24px;
    margin-right: 8px;
}

.hot-keywords .inner {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 8px;
}

.hot-keywords .item {
    font-size: 12px;
    line-height: 1.67;
    display: flex;
    background: hsl(0deg 0% 98%);
    color: hsl(0deg 0% 14%);
    text-decoration: none;
}

.hot-keywords .item .thumb {
    width: 38px;
    height: 38px;
    margin-right: 8px;
    object-fit: contain;
}

.hot-categories .wrap-heading {
    color: #333;
    font-weight: 700;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    font-size: 15px;
    line-height: 24px;
    padding: 0px 0px 8px;
}

.hot-categories .inner {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 12px 8px;
}

.hot-categories .item {
    font-size: 12px;
    line-height: 1.67;
    display: flex;
    flex-direction: column;
    color: hsl(0deg 0% 14%);
    text-decoration: none;
    border-radius: 4px;
}

.hot-keywords .item:hover,
.hot-categories .item:hover {
    box-shadow: rgb(0 0 0 / 10%) 0px 0px 20px;
}

.hot-categories .item>.thumb-wrap {
    padding: 0px 40px;
}

.hot-categories .item>.thumb-wrap .thumb {
    width: 100%;
    padding-top: 100%;
    border-radius: 36%;
    position: relative;
    overflow: hidden;
    background: hsl(0deg 0% 98%);
}

.hot-categories .item>.thumb-wrap .thumb>img {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.hot-categories .item>.title {
    text-align: center;
}

.header-user {
    display: flex;
    width: 160px;
    margin: 23px 18px 0 16px;
    cursor: pointer;
}

.header-user img {
    width: 32px;
    height: 32px;
    margin-right: 8px;
    border-radius: 2px;
}

.header-user .user {
    display: block;
    font-size: 27px;
    padding-right: 8px;
}

.header-cart-icon img {
    width: 32px;
    height: 32px;
    margin-right: 8px;
    border-radius: 2px;
}

.header-login {
    line-height: 17px;
}

.store-icon {
    margin-left: 3px;
}

.option-header i {
    font-size: 10px;
    margin-top: 2px;
}

.option-header {
    position: absolute;
    bottom: -25px;
    right: -20px;
    width: 130px;
    display: flex;
    background-color: #51ADFF;
    padding: 4px 8px;
    border-radius: 15px;
}

.option-header-left img {
    position: absolute;
    left: -5px;
    bottom: -24px;
    margin: 3px;
    height: 12px;
    width: 80px;
    margin-right: 40px;
}

.option-header-detail {
    display: flex;
    list-style: none;
    padding: 10px 0;
    left: 0;
    bottom: -35px;
    position: absolute;
}

.option-header-detail li {
    padding-right: 13px;
}

.main-option,
.main-option ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
}

.main-option li {
    padding: 16px;
    font-size: 13px;
}

.watch-now {
    position: relative;
}

.watch-now .left {
    position: absolute;
    padding: 8px 4px;
    top: 40%;
    font-size: 40px;
    left: 0;
    background-color: rgba(140, 140, 143, 0.133);
    color: rgba(255, 255, 255, 0.562);
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
}

.watch-now .right {
    position: absolute;
    padding: 8px 4px;
    font-size: 40px;
    top: 40%;
    right: 0;
    z-index: 1000;
    background-color: rgba(140, 140, 143, 0.133);
    color: rgba(255, 255, 255, 0.562);
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
}

.watch-now .left:hover,
.watch-now .right:hover {
    background-color: rgba(88, 135, 140, .8);
    color: #fff;
}

.watch-now .left:hover .watch-now .right {
    background-color: rgba(88, 135, 140, .8);
    color: #fff;
}

.watch-now .right:hover .watch-now .left {
    background-color: rgba(88, 135, 140, .8);
    color: #fff;
}

.slider {
    width: 800px;
    height: 263px;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
}

.slides {
    width: 1200%;
    height: 274px;
    display: flex;
}

.slides input {
    display: none;
}

.slide {
    width: 8.33%;
    transition: 2s;
}

.slide img {
    width: 824px;
    height: 274px;
}

.navigation-manual {
    /* position: absolute; */
    width: 800px;
    margin-top: -34px;
    z-index: 10000;
    display: flex;
    justify-content: center;
}

.manual-btn {
    border: 2px solid #fff;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}

.manual-btn:hover {
    background: #fff;
}

.manual-btn:not(:last-child) {
    margin-right: 5px;
}

#radio1:checked~.first {
    margin-left: 0;
}

#radio2:checked~.first {
    margin-left: -8.33%;
}

#radio3:checked~.first {
    margin-left: -16.67%;
}

#radio4:checked~.first {
    margin-left: -25%;
}

#radio5:checked~.first {
    margin-left: -33.33%;
}

#radio6:checked~.first {
    margin-left: -41.67%;
}

#radio7:checked~.first {
    margin-left: -50%;
}

#radio8:checked~.first {
    margin-left: -58.33%;
}

#radio9:checked~.first {
    margin-left: -66.67%;
}

#radio10:checked~.first {
    margin-left: -75%;
}

#radio11:checked~.first {
    margin-left: -83.33%;
}

#radio12:checked~.first {
    margin-left: -91.67%;
}

#radio1:checked~.navigation-auto .auto-btn1 {
    background: #fff;
}

#radio2:checked~.navigation-auto .auto-btn2 {
    background: #fff;
}

#radio3:checked~.navigation-auto .auto-btn3 {
    background: #fff;
}

#radio4:checked~.navigation-auto .auto-btn4 {
    background: #fff;
}

#radio5:checked~.navigation-auto .auto-btn5 {
    background: #fff;
}

#radio6:checked~.navigation-auto .auto-btn6 {
    background: #fff;
}

#radio7:checked~.navigation-auto .auto-btn7 {
    background: #fff;
}

#radio8:checked~.navigation-auto .auto-btn8 {
    background: #fff;
}

#radio9:checked~.navigation-auto .auto-btn9 {
    background: #fff;
}

#radio10:checked~.navigation-auto .auto-btn10 {
    background: #fff;
}

#radio11:checked~.navigation-auto .auto-btn11 {
    background: #fff;
}

#radio12:checked~.navigation-auto .auto-btn12 {
    background: #fff;
}

.navigation-auto {
    /* position: absolute; */
    display: flex;
    width: 800px;
    justify-content: center;
    margin-top: 460px;
}

.navigation-auto div {
    border: 2px solid #fff;
    padding: 5px;
    border-radius: 10px;
    transition: 1s;
}

.navigation-auto div:not(:last-child) {
    margin-right: 3px;
}

#radio1:checked~.navigation-auto .auto-btn1 {
    background: #fff;
}

#radio2:checked~.navigation-auto .auto-btn2 {
    background: #fff;
}

#radio3:checked~.navigation-auto .auto-btn3 {
    background: #fff;
}

#radio4:checked~.navigation-auto .auto-btn4 {
    background: #fff;
}

#radio5:checked~.navigation-auto .auto-btn4 {
    background: #fff;
}

#radio6:checked~.navigation-auto .auto-btn4 {
    background: #fff;
}

#radio7:checked~.navigation-auto .auto-btn4 {
    background: #fff;
}

#radio8:checked~.navigation-auto .auto-btn4 {
    background: #fff;
}

#radio9:checked~.navigation-auto .auto-btn4 {
    background: #fff;
}

#radio10:checked~.navigation-auto .auto-btn4 {
    background: #fff;
}

#radio11:checked~.navigation-auto .auto-btn4 {
    background: #fff;
}

#radio12:checked~.navigation-auto .auto-btn4 {
    background: #fff;
}

.img1-heading {
    padding: 16px 11px 4px;
    display: flex;
    justify-content: space-between;
}

.img1-heading a {
    float: right;
    text-decoration: none;
    transition: transform linear .1s;
    will-change: transform;
}

.header-stricky {
    background-color: var(--white-color);
}

.stricky {
    position: sticky;
    top: 0;
    z-index: 3;
}

.main .more {
    display: flex;
    justify-content: center;
}

footer {
    line-height: 25px;
    font-size: 12px;
    color: #948689;
}

footer h4,
.footer-info .h4 {
    font-size: 16px;
    color: #333;
}

footer h4 {
    margin-bottom: 10px;
}

footer .block {
    width: 215px;
}

footer .block p {
    white-space: pre-line;
    line-height: 25px;
}

footer a {
    text-decoration: none;
}

.product-option {
    background-color: #F5F5FA;
}

.watch-now__img img {
    width: 797px;
    border-radius: 10px;
}

.buy-now {
    position: relative;
    width: 488px;
    height: 250px;
    overflow: hidden;
    display: flex;
}

.slides1 {
    width: 200%;
    height: 250px;
    display: flex;
}

.slides1 input {
    display: none;
}

.slide1 {
    width: 50%;
    transition: 2s;
}

.slide1 img,
.slide1 video {
    width: 475px;
    height: 255px;
    border-radius: 10px;
}

.navigation-manual1 {
    position: absolute;
    width: 488px;
    z-index: 1;
    display: flex;
    justify-content: center;
    bottom: 10px;
}

.manual-btn1 {
    border: 2px solid #fff;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}

.manual-btn1:hover {
    background: #fff;
}

.manual-btn1:not(:last-child) {
    margin-right: 5px;
}

#radio1:checked~.first1 {
    margin-left: 0;
}

#radio2:checked~.first1 {
    margin-left: -50%;
}

.buy-now1 {
    height: 263px;
    background-size: cover;
    background-clip: content-box;
    background-repeat: no-repeat;
    background-image: url(https://salt.tikicdn.com/cache/w750/ts/banner/7b/06/e3/b687aa3d086b7ae827046fbb7174946c.png.webp);
    border-radius: 10px;
}

.genuine-brand {
    background-color: var(--white-color);
    border-radius: 2px;
}

.genuine-brand-header {
    display: flex;
    justify-content: space-between;
    padding: 16px 16px 8px 16px;
}

.icon-brand {
    display: flex;
    line-height: 24px;
}

.genuine-brand-header img {
    width: 24px;
    height: 24px;
    margin-right: 5px;
}

.genuine-brand-header .more {
    text-decoration: none;
}

.deal-product {
    width: 125px;
    height: 125px;
    background-position: center top;
    background-size: contain;
    background-clip: content-box;
    background-repeat: no-repeat;
    background-image: url(https://salt.tikicdn.com/cache/280x280/ts/product/38/13/be/6004d96959e970af8125af76f29eba6b.jpg.webp);
    border-radius: 2px;
}

.has-discount {
    margin: 10px 0;
}

.has-discount__link {
    text-decoration: none;
}

.has-discount span {
    padding-left: 7px;
}

.deals__price__discount {
    padding: 2px;
    font-size: 10px;
    color: #fe4350;
    border: 1px solid #fe4350;
    border-radius: 2px;
    margin-left: 5px;
}

.deals__qty {
    line-height: 24px;
    background-color: #ffaaaf;
    border-radius: 20px;
    height: 24px;
    position: relative;
}

.deals__qty span {
    position: absolute;
    right: 30px;
    color: #fff;
}

.deals__progress {
    background-color: #FF424E;
    width: 50%;
    background-position: center top;
    background-size: cover;
    background-clip: content-box;
    background-repeat: no-repeat;
    border-radius: 20px;
}

.fire-icon {
    margin: -5px 10px;
    height: 20px;
}

.bicycle {
    height: 160px;
    object-fit: contain;
    background-clip: content-box;
    background-repeat: no-repeat;
    background-repeat: no-repeat;
    background-image: url(https://salt.tikicdn.com/cache/w1080/ts/banner/02/22/9f/5e4c017b984572a5917b4169a67d25ff.png.webp);
    border-radius: 10px;
}

.webpimg-bicycle {
    margin-top: 20px;
}

.sucgest-items {
    background-color: var(--white-color);
    margin-top: 15px;
}

.suggest-item {
    text-decoration: none;
}

.suggest-item img {
    height: 48px;
    width: 48px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.suggest-item span {
    text-align: center;
    padding-top: 12px;
    font-size: 13px;
    line-height: 20px;
    color: hsl(0deg 0% 14%);
    width: 100%;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    text-overflow: ellipsis;
    overflow: hidden;
}

.home_banner_primary_item img {
    width: 280px;
    height: 150px;
    border-radius: 15px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.main-banners__item {
    padding-right: 10px;
    display: block;
    width: 600px;
    height: 200px;
    margin-left: auto;
    margin-right: auto;
    background-size: cover;
    background-clip: content-box;
    background-repeat: no-repeat;
    background-repeat: no-repeat;
    background-image: url(https://salt.tikicdn.com/cache/w750/ts/banner/8c/60/36/7c7fc79c239de681dc019a9e8f2d8548.jpg.webp);
    border-radius: 25px;
}

.brand-cards__item {
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .1);
    position: relative;
    display: flex;
    justify-content: center;
    width: 190px;
    height: 260px;
    background-size: cover;
    background-repeat: no-repeat;
    background-clip: content-box;
    background-repeat: no-repeat;
    background-repeat: no-repeat;
    background-image: url(https://salt.tikicdn.com/cache/w280/ts/banner/cc/a6/e7/8d54f3aab6fe2def0ce0998bd7288d6d.png.webp);
    border-radius: 10px;
}

.brand-cards__item p {
    position: absolute;
    bottom: 10px;
}

.brand-cards__icon {
    z-index: 1;
    position: absolute;
    padding: 3px 8px;
    border-radius: 50%;
    right: 20px;
    display: flex;
    align-self: center;
    transform: translateX(50%);
    color: rgba(51, 51, 51, 0.275);
    background-color: rgba(255, 255, 255, 0.423);
    box-shadow: 0 1px 12px 0 rgb(0 0 0 / 12%);
}

.brand-cards__icon:hover {
    color: #333;
    background-color: #fff;
    box-shadow: 0 1px 12px 0 rgba(0, 0, 0, 0.611);
}

.salt-banner img {
    padding: 0 0px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    background-size: contain;
    background-clip: content-box;
    background-repeat: no-repeat;
    border-radius: 25px;
}

.tab-false {
    width: 40px;
    height: 40px;
}

.tab-text {
    padding-top: 10px;
    font-size: 13px;
    line-height: 20px;
    color: hsl(0deg 0% 14%);
    max-width: 130px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    text-overflow: ellipsis;
    overflow: hidden;
}

.sucggest-stricky {
    background-color: var(--background-color);
}

.suggest-today {
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 1px 2px 0 rgb(0 0 0 / 10%);
    border-radius: 10px;
    background-color: #fff;
    cursor: pointer;
}

.suggest-today:focus {
    outline: 1px solid #0D5CB6;
}

h4.suggest {
    font-size: 20px;
    padding: 10px;
}

.home-product-item {
    text-decoration: none;
    display: block;
    transition: transform linear .1s;
    will-change: transform;
    border-radius: 2px;
    padding: 10px;
}

.home-product-item:hover {
    transform: translateY(-1px);
    box-shadow: 0 1px 20px 0 rgba(0, 0, 0, 0.294);
    transition: transform .1s cubic-bezier(.4, 0, .6, 1), box-shadow .1s cubic-bezier(.4, 0, .6, 1);
}

.home-product-item__name {
    font-size: 13px;
    padding-top: 10px;
}

.home-product-item__img {
    position: relative;
}

.home-product-item__img--promotion {
    position: absolute;
    z-index: 2;
    left: 0;
    bottom: 0;
    width: 134px;
    height: 24px;
}

.home-product-item__info {
    text-align: left;
    padding-left: 10px;
    color: #333;
    font-size: 11px;
}

.home-product-item__star--gold {
    font-size: 10px;
    color: #FDD836;
}

.home-product-item__action {
    display: flex;
}

.more button {
    cursor: pointer;
    display: inline-block;
    width: 240px;
    padding: 8px 12px;
    border-radius: 4px;
    border: 1px solid hsl(212deg 87% 38%);
    color: hsl(212deg 87% 38%);
    font-size: 13px;
    text-align: center;
    margin-bottom: 20px;
}

.more button:hover {
    background-color: #1964BA;
    color: #fff;
}

.footer-img1 {
    height: 32px;
}

.icon .vnpay,
.icon {
    display: inline-block;
    margin-right: 8px;
    margin-bottom: 8px;
    vertical-align: middle;
    width: 32px;
    height: 32px;
}

.payment {
    display: flex;
    flex-wrap: wrap;
    font-size: 12px;
    line-height: 16px;
    color: hsl(240deg 4% 52%);
    margin-bottom: 12px;
    margin-top: 0px;
}

.flex {
    padding-top: 10px;
    width: 226px;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 8px;
}

.address-info,
.quality-info {
    padding: 10px 0;
}

.footer-info a,
.block a {
    text-decoration: none;
    color: #948689;
}

.block a .icon {
    display: flex;
}

.mobile-input,
.mobile-icon-search,
.nav-header-responsive__logo {
    display: none;
}

.header-responsive-search {
    display: none;
}

.mobile-input {
    position: relative;
    border-radius: 2px;
    top: 10px;
}

.mobile-input input {
    padding: 10px 10px 10px 35px;
    width: 100%;
}

.mobile-icon-search {
    height: 24px;
    position: absolute;
    top: 8px;
    left: 6px;
}

.mobile-category__list {
    display: flex;
    list-style: none;
    padding-left: 0;
    max-width: 100%;
    overflow-x: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.mobile-category__list::-webkit-scrollbar {
    width: 0;
}

.mobile-category__item {
    flex-shrink: 0;
    margin-right: 10px;
}

.footer-title .h4 a {
    font-size: 14px;
    line-height: 20px;
    font-weight: 500;
}

.mobile-nav {
    z-index: 100;
    right: 0;
    left: 0;
    display: none;
    position: fixed;
    bottom: 0;
}

.mobile-nav__item span {
    font-size: 10px;
}

.mobile-nav__item {
    width: 64px;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    padding-top: 5px;
    padding-bottom: 6px;
    flex-direction: column;
    color: hsl(0deg 0% 14%);
    font-size: 10px;
    text-decoration: none;
    position: relative;
    z-index: 1;
}

.mobile-nav__item-img img {
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    z-index: 2;
    object-fit: contain;
}

.header-register {
    background: hsl(0deg 0% 97%);
    display: flex;
    width: 100%;
    border-radius: 20px;
    position: relative;
}

.header-register .btn-close {
    position: absolute;
    right: -8px;
    top: -8px;
    width: 42px;
    height: 42px;
    background: none;
    border: none;
    cursor: pointer;
}

.close-img {
    position: absolute;
    right: -8px;
    top: -8px;
    width: 42px;
    height: 42px;
    background: none;
    border: none;
    cursor: pointer;
}

.header-login__overlay,
.header-register__overlay {
    position: fixed;
    inset: 0px;
    background: hsl(0deg 0% 0% / 53%);
    overflow-y: scroll;
    z-index: 1000;
}

.header-register__overlay {
    display: none;
}

.header-login__background,
.header-register__background {
    position: relative;
    inset: 0px;
    border: none;
    background: hsl(0deg 0% 100%);
    overflow: unset;
    border-radius: 20px;
    outline: none;
    padding: 0px;
    width: 800px;
    margin: 80px auto;
}

.header-register {
    background: hsl(0deg 0% 97%);
    display: flex;
    width: 100%;
    border-radius: 20px;
    position: relative;
}

.header-login-left,
.header-register-left {
    margin: -8px 0;
    width: 500px;
    padding: 40px 45px 24px;
    background: hsl(0deg 0% 100%);
    border-radius: 20px 0px 0px 20px;
}

.header-login__title,
.header-register__title {
    margin-bottom: 20px;
    font-size: 15px;
    color: #333;
}

.header-login__title h5,
.header-register__title h5 {
    margin: 0px 0px 10px;
    font-size: 24px;
    font-weight: 700;
}

.header-register-next__input {
    position: relative;
}

.header-register-next input {
    width: 100%;
    padding: 10px 0px;
    border: none;
    font-size: 24px;
    color: hsl(0deg 0% 14%);
    outline: none;
}

.header-register-next__input::before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    border-bottom: 1px solid #e0e0e0;
}

.header-register-next button {
    margin: 30px 0px 10px;
    outline: none;
    border-radius: 4px;
    background: hsl(356deg 100% 63%);
    padding: 13px 0px;
    width: 100%;
    color: hsl(0deg 0% 100%);
    border: none;
    font-size: 20px;
    cursor: pointer;
}

.register-by-email {
    margin: 10px 0px 0px;
    text-align: center;
    color: hsl(212deg 87% 38%);
    cursor: pointer;
}

.register-by-social {
    text-align: center;
    margin: 80px 0px 0px;
}

.register-by-social p {
    color: #333;
    margin: 0px 0px 15px;
    position: relative;
}

.register-by-social__icon {
    margin: 0px 0px 10px;
}

.register-by-social__icon img {
    margin: 0px 10px;
    width: 58px;
    height: 58px;
}

.register-by-social span {
    font-size: 11px;
    color: hsl(0deg 0% 47%);
    text-align: center;
    margin: 0px 0px 10px;
}

.header-register-right {
    background: linear-gradient(136deg, hsl(208deg 100% 97%) -1%, hsl(208deg 100% 93%) 85%);
    height: 103.9%;
    width: 300px;
    margin: -8px -24px 8px;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    border-radius: 0px 20px 20px 0px;
}

.header-register-right__content {
    margin: 30px 0px 0px;
    text-align: center;
}

.header-register-right__content h4 {
    margin: 0px 0px 5px;
    color: hsl(211deg 91% 47%);
    font-size: 17px;
    font-weight: 700;
}

.header-register-right__content span {
    font-size: 13px;
    color: hsl(211deg 91% 47%);
    font-weight: 500;
}

.btn-action {
    cursor: pointer;
    background: hsl(0deg 0% 0% / 0%);
    border: none;
}

.btn-action img {
    width: 21px;
    height: 21px;
}

.header-login__title {
    margin: 20px 0px;
    color: hsl(0deg 0% 14%);
}

.input-fill {
    display: flex;
    position: relative;
    z-index: 1;
    margin-bottom: 15px;
    background-color: hsl(218deg 92% 95%);
}

.input-fill::before {
    content: "";
    position: absolute;
    left: 0px;
    right: 0px;
    bottom: 0px;
    border-bottom: 1px solid #0d5bb5;
}

.input-fill input {
    padding: 0 3px;
    width: 100%;
    padding: 10px 5px;
    border: none;
    font-size: 14px;
    color: hsl(0deg 0% 14%);
    outline: none;
    background-color: hsl(218deg 92% 95%);
}

.input-fill .show-pass {
    position: absolute;
    right: 5px;
    top: 10px;
    z-index: 2;
    color: hsl(212deg 87% 38%);
    font-size: 14px;
    display: inline-block;
    cursor: pointer;
}

form button {
    margin: 26px 0px 10px;
    outline: none;
    border-radius: 4px;
    background: hsl(356deg 100% 63%);
    padding: 13px 0px;
    width: 100%;
    color: hsl(0deg 0% 100%);
    border: none;
    font-size: 20px;
    cursor: pointer;
}

.login-by-social__icon .forgot-pass {
    color: hsl(212deg 87% 38%);
    font-size: 13px;
    margin: 20px 0px 0px;
    cursor: pointer;
    display: inline-block;
}

.login-by-social__icon .create-account {
    color: hsl(0deg 0% 47%);
    font-size: 13px;
    margin: 10px 0px 0px;
}

.login-by-social__icon .create-account span {
    color: hsl(212deg 87% 38%);
    display: inline-block;
    margin-left: 5px;
    cursor: pointer;
}