* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
}

.navigation {
    background-color: #f5f5fa;
    height: 40px;
    color: hsl(240deg 4% 52%);
    font-size: 14px;
    line-height: 20px;
    font-weight: 300;
    display: flex;
    align-items: center;
}

.navigation .icon-next {
    margin-left: 5.5px;
    margin-right: 8.5px;
    width: 6px;
    height: 15px;
    line-height: 22px;
}

.main-content {
    background-color: #f5f5fa;
    padding-bottom: 16px;
}

.main-content__product {
    background-color: #ffffff;
    border-radius: 4px;
}

.main-content-left {
    margin: -8px 0;
    width: 470px;
    padding: 16px 0px 16px 16px;
}

.main__product-img {
    width: 444px;
    height: 444px;
    cursor: pointer;
}

.main-content-left__img {
    flex: 0 0 100%;
    margin: 16px 0px 0px;
}

.main-content-left__img a {
    display: inline-block;
    cursor: pointer;
    position: relative;
    width: 64px;
    height: 64px;
    margin-right: 8px;
    border-radius: 4px;
    overflow: hidden;
}

.main-content-left__img a .open-gallery {
    border: 1px solid hsl(0deg 0% 0% / 50%);
}

.main-content-left__img a img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.main-content-left__img a span {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 100%;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    padding: 9px;
    color: hsl(0deg 0% 100%);
    font-size: 11px;
    line-height: 16px;
    font-weight: 300;
    text-align: center;
    z-index: 2;
    background-color: hsl(0deg 0% 0% / 70%);
}

.main-content-left__social {
    display: flex;
    align-items: center;
    margin-top: 24px;
    font-size: 15px;
    line-height: 24px;
    color: hsl(0deg 0% 14%);
}

.main-content-left__social p {
    margin-right: 8px;
}

.main-content-left__social img {
    width: 28px;
    height: 28px;
    margin-right: 8px;
    cursor: pointer;
}

.main-content-right {
    margin: -8px 0;
    margin-left: 70px;
    padding-left: 12px;
    border-left: 1px solid #f2f2f2;
}

.main-content-right__title {
    padding: 16px 28px 16px 0px;
}

.main-content-right__title .brand {
    margin-top: 8px;
    display: flex;
    align-items: center;
    font-size: 13px;
    line-height: 20px;
}

.brand-and-author {
    position: relative;
    display: inline-block;
}

.brand-and-author h6 {
    font-size: 13px;
    line-height: 20px;
}

.bestseller a,
.brand-and-author a {
    font-size: 13px;
    line-height: 20px;
    color: #0d5bb5;
}

.brand-and-author::after {
    top: 5px;
    right: 0;
    content: "";
    height: 10px;
    position: absolute;
    border-left: 1px solid #c7c7c7;
    display: inline-block;
    margin-right: -8px;
}

.bestseller {
    padding-left: 16px;
}

.main-content-right__title h4 {
    margin: 0px 0px 4px;
    color: hsl(0deg 0% 14%);
    font-size: 24px;
    font-weight: 300;
    line-height: 32px;
    word-break: break-word;
}

.share-icon-btn {
    align-items: center;
    border: none;
    padding: 4px;
    font-size: 12px;
    line-height: 1;
    font-weight: 500;
    -webkit-box-pack: justify;
    justify-content: space-between;
    background: hsl(0deg 0% 100%);
    color: hsl(250deg 56% 40%);
    max-height: 24px;
}

.below-title {
    display: flex;
    align-items: center;
    margin-top: 4px;
    color: hsl(0deg 0% 47%);
    font-size: 15px;
    line-height: 24px;
    justify-content: space-between;
}

.below-title .number {
    display: block;
    cursor: pointer;
    margin-left: 8px;
}

.below-title .evaluete {
    display: flex;
    align-items: center;
    position: relative;
}

.below-title .evaluete::after {
    position: absolute;
    content: "";
    top: 6px;
    right: 0;
    height: 12px;
    border-left: 1px solid #c7c7c7;
    margin-right: -8px;
}

.quantity-sold {
    padding-left: 16px;
}

.price-and-icon {
    display: flex;
    flex-direction: column;
    border-radius: 4px;
    background-color: hsl(0deg 0% 98%);
    padding: 0px 16px 12px;
}

.product-price .has-discount {
    color: hsl(356deg 100% 63%);
    padding-top: 12px;
    display: flex;
}

.product-price__current-price {
    font-size: 32px;
    line-height: 40px;
    margin-right: 8px;
    font-weight: 700;
    display: inline-block;
    color: #ff424f;
}

.product-price__list-price {
    color: hsl(240deg 4% 52%);
    text-decoration: line-through;
    font-size: 14px;
    line-height: 20px;
    display: inline-block;
}

.product-price__discount-rate {
    font-weight: 400;
    margin-left: 8px;
    border: 1px solid hsl(356deg 100% 63%);
    border-radius: 2px;
    background-color: hsl(356deg 100% 97%);
    color: hsl(356deg 100% 63%);
    line-height: 18px;
    font-size: 14px;
    padding: 0px 4px;
    display: inline-block;
}

.asa-bonus {
    border-radius: 4px;
    background-color: hsl(249deg 88% 97%);
    display: flex;
    width: fit-content;
    -webkit-box-align: center;
    align-items: center;
    padding: 4px 8px;
    border: 0.5px solid hsl(250deg 81% 85%);
    margin: 10px 0px 0px;
    cursor: pointer;
    font-size: 14px;
    line-height: 20px;
    color: hsl(250deg 56% 40%);
    font-weight: 700;
}

.asa-bonus img {
    margin-right: 7px;
}

.asa-cashback-questions {
    background-image: url(https://frontend.tikicdn.com/_desktop-next/static/img/icons/question-blue.svg);
    width: 10px;
    height: 10px;
    background-size: 10px 10px;
    margin-left: 4px;
}

.product-options {
    margin-top: 16px;
    padding-right: 25px;
}

.product-options__color,
.product-capacity-label {
    color: hsl(0deg 0% 56%);
    font-size: 13px;
    line-height: 20px;
    font-weight: 400;
    margin: 0px;
}

.product-options__color span,
.product-capacity-label span {
    color: hsl(0deg 0% 14%);
    font-weight: 600;
}

.color-item {
    cursor: pointer;
    margin: 0 10px 0px 0px;
    padding: 2px;
    color: hsl(0deg 0% 14%);
    font-size: 13px;
    width: 144px;
    position: relative;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    background-color: hsl(0deg 0% 95%);
    border: 1px solid hsl(0deg 0% 0% / 0%);
    outline: 0px;
    border-radius: 4px;
}

.option-figure {
    width: 60px;
    height: 60px;
    flex-shrink: 0;
}

.option-figure img {
    object-fit: contain;
    width: 50px;
    height: 50px;
}

.option-label {
    position: relative;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    text-align: left;
    text-overflow: ellipsis;
    vertical-align: middle;
    overflow: hidden;
    line-height: 16px;
    margin: 6px 8px;
    overflow-wrap: anywhere;
}

.selected-indicator {
    position: absolute;
    top: -1px;
    right: -1px;
    display: none;
}

.color-item:hover {
    border: 1px solid hsl(212deg 87% 38%);
    background-color: hsl(210deg 100% 95%);
}

.color-item:hover .selected-indicator {
    display: block;
}

.product-capacity-options button {
    margin: 8px 10px 0px 0px;
    padding: 8px;
    color: hsl(0deg 0% 14%);
    font-size: 13px;
    min-width: 80px;
    position: relative;
    background-color: hsl(0deg 0% 95%);
    border: 1px solid hsl(0deg 0% 0% / 0%);
    outline: 0px;
    border-radius: 4px;
}

.product-capacity-options .active:hover {
    border: 1px solid hsl(212deg 87% 38%);
    background-color: hsl(210deg 100% 95%);
}

.product-capacity-options .active:hover .selected-indicator {
    display: block;
}

.disable {
    opacity: .5;
    cursor: not-allowed;
}

.main_discount_coupon {
    background-color: hsl(0deg 0% 100%);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 16px;
    border-top: 1px solid hsl(0deg 0% 95%);
    padding-top: 16px;
}

.coupon__text {
    font-size: 15px;
    font-weight: 700;
    color: hsl(0deg 0% 14%);
    flex: 1 1 0%;
    cursor: pointer;
}

.coupon__tags {
    display: flex;
    padding: 0px 4px 0px 0px;
    flex-wrap: wrap;
}

.coupon__tag {
    cursor: pointer;
    padding: 3px 12px;
    border: 1px solid hsl(212deg 87% 38%);
    border-radius: 4px;
    font-size: 13px;
    font-weight: 500;
    line-height: 20px;
    color: hsl(212deg 87% 38%);
    position: relative;
    margin: 8px 12px 0px 0px;
}

.coupon__tag::before {
    content: "";
    width: 10px;
    height: 10px;
    background-color: hsl(0deg 0% 100%);
    border-width: 1px;
    border-style: solid;
    border-color: hsl(0deg 0% 0% / 0%) hsl(212deg 87% 38%) hsl(212deg 87% 38%) hsl(0deg 0% 0% / 0%);
    border-image: initial;
    position: absolute;
    top: 50%;
    margin-top: -5px;
    border-radius: 50%;
    left: -6px;
    transform: rotate(-45deg);
}

.coupon__tag::after {
    right: -6px;
    transform: rotate(135deg);
    content: "";
    width: 10px;
    height: 10px;
    background-color: hsl(0deg 0% 100%);
    border-width: 1px;
    border-style: solid;
    border-color: hsl(0deg 0% 0% / 0%) hsl(212deg 87% 38%) hsl(212deg 87% 38%) hsl(0deg 0% 0% / 0%);
    border-image: initial;
    position: absolute;
    top: 50%;
    margin-top: -5px;
    border-radius: 50%;
}

.view-more-coupon {
    width: 28px;
    height: 28px;
    margin: 8px 0px 0px -12px;
    cursor: pointer;
}

.delivery-address {
    margin: 16px 0px 0px;
    border-top: 1px solid hsl(0deg 0% 95%);
}

.delivery-zone__heading {
    display: flex;
    align-items: center;
    padding: 12px 0px;
    cursor: pointer;
    font-size: 14px;
}

.delivery-zone__heading .address {
    text-decoration: underline;
    font-size: 15px;
    line-height: 24px;
    font-weight: 700;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 0 5px;
}

.delivery-zone__heading .address-change {
    color: hsl(211deg 91% 47%);
    font-size: 16px;
    line-height: 24px;
    font-weight: 700;
    flex-shrink: 0;
    margin-left: 5px;
}

.shipping-info__inner {
    padding-bottom: 16px;
}

.shipping-info__item {
    height: 100%;
    border: 1px solid hsl(0deg 0% 93%);
    border-radius: 12px;
    padding: 8px 12px;
    position: relative;
    margin-right: 12px;
    z-index: 1;
    font-size: 13px;
    line-height: 20px;
    color: hsl(0deg 0% 47%);
    flex: 1 1 0%;
}

.shipping-info__item__header {
    display: flex;
    height: 20px;
}

.shipping-info__item__header__logo {
    width: 50px;
}

.shipping-info__item__header .divider {
    content: " ";
    width: 1px;
    height: 8px;
    margin: 0px 4px;
    background-color: hsl(240deg 14% 93%);
}

.shipping-info__item__header__highlight {
    color: hsl(150deg 100% 34%);
    font-weight: 700;
}

.shipping-info__item__note {
    font-size: 14px;
    line-height: 20px;
    color: hsl(240deg 4% 23%);
}

.shipping-info__freeship {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    color: hsl(250deg 56% 40%);
    background-color: hsl(249deg 88% 97%);
    padding: 4px;
    width: fit-content;
    border-radius: 4px;
    cursor: pointer;
    font-size: 11px;
    line-height: 16px;
}

.shipping-info__freeship img {
    object-fit: contain;
    margin-right: 5px;
}

.shipping-info__freeship-icon {
    background-image: url(https://frontend.tikicdn.com/_desktop-next/static/img/icons/question-blue.svg);
    width: 10px;
    height: 10px;
    background-size: 10px 10px;
    margin-left: 4px;
}

.services-plus {
    margin: 8px 0px;
    border-top: 1px solid hsl(0deg 0% 95%);
}

.services-plus h5 {
    padding: 12px 12px 0px;
    font-size: 15px;
    line-height: 24px;
    font-weight: 700;
}

.services-plus-item {
    display: flex;
    padding: 12px 16px;
    border-bottom: 1px solid hsl(0deg 0% 95%);
    -webkit-box-align: center;
    align-items: center;
}

.services-plus-item img {
    width: 48px;
    height: 48px;
    object-fit: contain;
    margin: 0px 8px;
    flex-shrink: 0;
}

.services-plus-item .name {
    display: flex;
    align-items: center;
}

.services-plus-item input {
    width: 24px;
    height: 24px;
}

.services-plus-item .name span {
    font-size: 13px;
    line-height: 20px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
}

.services-plus-item .info-icon {
    width: 16px;
    height: 16px;
    margin-left: 4px;
}

.info .add-on-price {
    font-size: 15px;
    line-height: 24px;
    font-weight: 700;
}

.quanity-input {
    display: flex;
    flex-direction: column;
    margin: 16px 0px 0px;
    padding: 16px 0px;
    border-top: 1px solid hsl(0deg 0% 95%);
}

.quanity-input p {
    font-size: 15px;
    line-height: 1.6;
    font-weight: 600;
    margin: 0px 0px 10px;
}

.quanity-input .group-input {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    margin-top: 8px;
}

.quanity-input .group-input button:first-child {
    border-radius: 4px 0px 0px 4px;
    padding: 4px;
    cursor: pointer;
    width: 30px;
    height: 30px;
    background-color: hsl(0deg 0% 100%);
    border: 1px solid hsl(0deg 0% 93%);
    font-size: 14px;
    text-align: center;
    outline: none;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
}

.quanity-input .group-input input {
    width: 40px;
    border: 1px solid hsl(0deg 0% 93%);
    height: 30px;
    color: hsl(0deg 0% 14%);
    font-size: 14px;
    text-align: center;
    outline: none;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
    line-height: 1.15;
}

.quanity-input .group-button {
    margin-top: 16px;
    display: flex;
}

.btn-add-to-cart {
    color: hsl(0deg 0% 100%);
    background-color: hsl(356deg 100% 61%);
    cursor: pointer;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    min-width: 190px;
    width: 100%;
    max-width: 300px;
    height: 48px;
    font-size: 15px;
    line-height: 24px;
    font-weight: 500;
    text-transform: capitalize;
    border: none;
    border-radius: 4px;
    outline: none;
}

.installment-payment {
    border: 1px solid hsl(212deg 87% 38%);
    font-size: 15px;
    line-height: 1.6;
    color: hsl(212deg 87% 38%);
    flex-direction: column;
    text-transform: unset;
    background: hsl(0deg 0% 100%);
    -webkit-box-pack: center;
    justify-content: center;
    margin-left: 12px;
    font-weight: 600;
}

.installment-payment span {
    font-weight: 500;
    font-size: 11px;
    line-height: 1.45;
}

.seller-info-detail {
    margin-right: 12px;
    margin-bottom: 20px;
    border-radius: 4px;
    box-shadow: rgb(242 242 242) 1px 1px 0px 0px inset, rgb(242 242 242) -1px -1px 0px 0px inset;
}

.seller-info {
    display: flex;
    flex-direction: column;
    padding: 8px 12px;
    min-height: 60px;
}

.seller-info img {
    width: 44px;
    height: 44px;
    border-radius: 44px;
    object-fit: contain;
    overflow: hidden;
}

.overview {
    display: flex;
}

.overview-right {
    margin: 0px 0px 0px 12px;
}

.seller-name {
    margin: 0px 0px 2px;
    font-size: 15px;
    line-height: 1.6;
    color: hsl(0deg 0% 14%);
}

.seller-name>span {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    overflow: hidden;
    font-weight: 700;
}

.overview-right .seller-name {
    margin: 0px 0px 2px;
    font-size: 15px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.6;
    letter-spacing: normal;
    color: hsl(0deg 0% 14%);
}

.seller-detail {
    display: flex;
    flex: 1;
    min-height: 39px;
    font-weight: 700;
    font-size: 14px;
}

.seller-detail div {
    flex: 1;
    display: block;
    text-align: center;
}

.seller-detail .sub-title {
    font-size: 11px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.45;
    letter-spacing: normal;
    color: hsl(0deg 0% 47%);
    text-align: center;
}

.seller-action {
    display: flex;
    padding: 9px;
    gap: 9px;
    justify-content: space-between;
}

.seller-action>.action {
    display: flex;
    padding: 6px 9px;
    -webkit-box-align: center;
    align-items: center;
    border-radius: 4px;
    border: 1px solid hsl(212deg 87% 38%);
    cursor: pointer;
}

.seller-action>.action>img {
    width: 20px;
    height: 20px;
}

.seller-action>.action>span {
    font-size: 11px;
    font-weight: 700;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.54;
    letter-spacing: normal;
    color: hsl(212deg 87% 38%);
    margin-left: 4px;
}

.warranty-policy {
    font-size: 13px;
    line-height: 20px;
    padding: 8px 12px;
    border-top: 1px solid hsl(0deg 0% 95%);
}

.warranty-item {
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    padding: 12px 0px 0px;
    flex-wrap: wrap;
}

.warranty-item:first-child {
    padding: 0px;
}

.item-right {
    font-weight: 600;
}

.item-right a {
    font-weight: 500;
}

.benefit-items {
    display: flex;
    padding: 8px;
    border-top: 1px solid hsl(0deg 0% 95%);
}

.benefit-item {
    background: hsl(0deg 0% 100%);
    display: flex;
    flex-direction: column;
    flex: 1 0 30%;
    -webkit-box-flex: 1;
    -webkit-box-align: center;
    align-items: center;
}

.benefit-item>span {
    text-align: center;
    font-size: 13px;
    line-height: 20px;
    margin-top: 8px;
    font-weight: 600;
}

.preview-thumnail-product {
    background-color: #F5F5FA;
    padding-bottom: 16px;
}

.preview-thumnail-product-items {
    background-color: #ffffff;
    border-radius: 4px;
}

.preview-thumnail-product-items h5 {
    color: hsl(0deg 0% 20%);
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
    padding: 8px 16px;
    font-weight: 700;
    text-transform: capitalize;
}

.product-items-left {
    display: grid;
    grid-template-columns: fit-content(192px) 52px minmax(0px, 1fr);
    width: 100%;
}

.thumbnail-product-item {
    width: 192px;
    padding: 16px;
    height: 100%;
    margin: -8px 0;
    border-radius: 4px;
}

.product-items-left .thumbnail-product-item:first-child {
    margin: 0;
}

.thumbnail-product-item:hover,
.item__wrapper:hover {
    box-shadow: #0000001a 0px 0px 20px;
}

.thumbnail-product-item img {
    display: block;
    width: 160px;
    height: 160px;
}

.product-name {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 13px;
    line-height: 1.54;
    margin-top: 12px;
    color: #333;
}

.product-name-active::before {
    content: "Bạn đang xem: ";
    font-weight: bold;
}

.checkbox-container {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    margin: 8px 0px;
    display: grid;
    grid-template-columns: 24px minmax(0px, 1fr);
    column-gap: 8px;
    -webkit-box-align: center;
    align-items: center;
    margin: 8px 0px;
}

.attribute-select {
    position: relative;
    display: flex;
    min-width: 128px;
    max-width: 100%;
    padding: 2px 12px 2px 6px;
    border-radius: 2px;
    border: 1px solid hsl(0deg 0% 78%);
    font-family: Roboto;
    font-size: 11px;
    line-height: 1.45;
    color: hsl(0deg 0% 14%);
    cursor: pointer;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.attribute-select .title,
.attribute-select .value {
    color: hsl(0deg 0% 47%);
    line-height: 1.45;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.attribute-select .title::after {
    content: ":";
    margin-right: 3px;
}

.arrow-icon {
    position: absolute;
    top: 4px;
    right: 2px;
}

.price-container {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    line-height: 1.54;
    font-size: 13px;
    font-weight: 700;
    color: hsl(240deg 4% 23%);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.price-container .origin-price {
    text-decoration: line-through;
    margin-right: 10px;
}

.price-summary {
    min-width: 186px;
    border-left: 1px solid hsl(0deg 0% 95%);
    margin: 16px 0px;
    padding: 0px 16px;
    line-height: 1.54;
    line-height: 20px;
    font-size: 14px;
    font-weight: 600;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}

.price-summary .discount {
    font-weight: 700;
    color: hsl(356deg 100% 63%);
}

.price-summary .checkout-button {
    border-radius: 4px;
    background: hsl(356deg 100% 63%);
    line-height: 1.6;
    font-weight: 500;
    font-size: 15px;
    padding: 12px;
    margin-top: 16px;
    text-align: center;
    color: hsl(0deg 0% 100%);
    cursor: pointer;
}

.discount-badge {
    position: absolute;
    top: 0px;
    left: 0px;
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
    border: 1px solid hsl(356deg 100% 63%);
    border-radius: 2px;
    background-color: hsl(356deg 100% 97%);
    color: hsl(356deg 100% 63%);
    padding: 0px 2px;
}

.checkbox-wrapper img {
    width: 24px;
    height: 24px;
}

.product-slider {
    position: relative;
}

.product-slider .slick-arrow,
.slider-container .slick-arrow {
    cursor: pointer;
    position: absolute;
    top: 50%;
    margin-top: -16px;
    opacity: 0.3;
    z-index: 1;
}

.product-slider .slick-arrow .icon,
.slider-container .slick-arrow .icon {
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    width: 32px;
    height: 32px;
    padding-right: 2px;
    background-color: hsl(0deg 0% 100%);
    border: 1px solid hsl(0deg 0% 80%);
    border-radius: 16px;
}

.product-slider .slick-arrow .icon i {
    background-image: url(../img/sprite@2x.png?v=100000000);
    background-size: 404px 383px;
    background-position: -392px -189px;
    width: 8px;
    height: 14px;
}

.preview-container {
    position: relative;
}

.product-slider .slick-prev,
.slider-container .slick-prev {
    cursor: default;
}

.product-slider .slick-next,
.slider-container .slick-next {
    right: 0;
}

.product-slider .slick-next:hover,
.slider-container .slick-next:hover {
    opacity: 1;
}

.similar-product {
    background-color: #F5F5FA;
    padding-bottom: 16px;
}

.similar-product-items {
    background-color: #fff;
    border-radius: 4px;
}

.similar-product-items h5,
.detail-infomation__content h5,
.product-description__content h5,
.customers-review__top h5,
.customers-review__top-content h5,
.product-slide__wrapper h5 {
    color: hsl(0deg 0% 20%);
    font-size: 20px;
    font-weight: 700;
    line-height: 32px;
    padding: 8px 16px;
    text-transform: capitalize;
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
    margin: 0px;
}

.slider-container {
    display: flex;
    position: relative;
    border-radius: 4px;
    overflow: hidden;
    min-height: 302px;
}

.item__wrapper {
    border-radius: 4px;
    position: relative;
    display: flex;
    flex-direction: column;
    -webkit-box-align: center;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 12px;
    background-color: hsl(0deg 0% 100%);
    display: -webkit-box;
}

.item__product-img-wrapper {
    position: relative;
    width: 100%;
    margin-bottom: 12px;
}

.freeship-icon {
    position: absolute;
    object-fit: contain;
}

.slider-container a {
    color: #333;
}

.slick-items h3 {
    position: relative;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    max-height: 40px;
    margin: 0px;
    width: 100%;
    color: hsl(0deg 0% 14%);
    font-size: 13px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.54;
    letter-spacing: 0.1px;
    text-align: left;
    text-overflow: ellipsis;
    overflow: hidden;
    word-break: break-word;
}

.item__review {
    margin-top: 3px;
    display: flex;
}

.price.has-discount {
    color: hsl(356deg 100% 63%);
    text-align: left;
    font-size: 16px;
    line-height: 24px;
    font-weight: 700;
    margin: 2px 0px 0px;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
}

.price.has-discount .percent {
    padding: 0px 2px;
    line-height: 14px;
    font-size: 12px;
    font-weight: 400;
    margin-left: 8px;
    border: 1px solid hsl(356deg 100% 63%);
    border-radius: 2px;
    background-color: hsl(356deg 100% 97%);
    color: hsl(356deg 100% 63%);
}

.detail-infomation,
.product-description,
.customers-review-list,
.product-slide__wrapper {
    background-color: #f5f5fa;
    padding-bottom: 16px;
}

.detail-infomation__table {
    background-color: #fff;
}

.detail-infomation__non,
.product-description__detail-non {
    background-color: #f5f5fa;
    height: 105%;
    margin-top: -8px;
    margin-left: -20px;
}

.detail-infomation__content {
    margin: -8px 0;
    border-radius: 4px;
}

.content__has-table {
    padding: 0px 16px 16px;
    font-size: 13px;
    line-height: 20px;
}

.content__has-table table {
    width: 100%;
}

.content__has-table tr {
    display: flex;
}

.content__has-table tr:nth-child(2n) {
    background-color: #fafafa;
}

.content__has-table tr td:first-child {
    flex: 24%;
    font-weight: 600;
    background: #f0f0f0;
    padding: 10px 15px;
}

.content__has-table tr td:last-child {
    flex: 76%;
    padding: 10px 15px;
}

.product-description__detail {
    background-color: #fff;
    border-radius: 4px;
}

.toggle-content {
    position: relative;
    padding: 0px 16px 16px;
    border-radius: 4px;
    overflow: hidden;
    height: 500px;
}

.toggle-content p {
    margin-top: 5px;
    margin-bottom: 12px;
    line-height: 21px;
}

sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

.product-description__content {
    padding: 0px 8px 16px;
}

.product-description__content .btn-more {
    cursor: pointer;
    display: block;
    width: 229px;
    height: 39px;
    margin: 10px auto 0px;
    color: hsl(205deg 100% 55%);
    font-size: 13px;
    font-weight: 400;
    line-height: 39px;
    text-align: center;
    border: 1px solid hsl(205deg 100% 55%);
    border-radius: 4px;
}

.product-description__content .btn-more:hover {
    opacity: 0.95;
    color: hsl(0deg 0% 100%);
    background-color: hsl(205deg 100% 55%);
}

.toggle-content .gradient {
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: 200px;
    background: linear-gradient(#ffffff00, #ffffff);
}

.customers-review__content {
    background-color: #fff;
    border-radius: 4px;
    padding-bottom: 16px;
}

.customers-review__top-content {
    padding: 0px 48px;
}

.customers-review__top-content-right {
    width: 800px;
    margin-left: -40px;
}

.customers-review {
    padding: 32px 48px;
    border-top: 1px solid hsl(0deg 0% 95%);
}

.review-rating__inner {
    margin: 0px 0px 32px;
}

.review-rating__summary {
    display: flex;
    align-items: center;
}

.review-rating__point {
    font-size: 32px;
    line-height: 40px;
    font-weight: 700;
    white-space: nowrap;
    margin: 0px 16px 0px 0px;
}

.review-rating__total {
    line-height: 20px;
    margin-top: 1px;
    font-size: 13px;
    font-weight: 600;
    color: hsl(240deg 4% 52%);
}

.review-rating__stars-icon {
    position: relative;
}

.review-rating__stars-icon>div {
    white-space: nowrap;
    overflow: hidden;
    position: absolute;
    top: 0px;
    left: 0px;
}

.review-rating__stars span {
    margin: 0px 2px;
}

.review-rating__stars span:first-child {
    margin: 0px 2px 0px 0px;
}

.review-rating__detail {
    margin: 12px 0px 0px;
}

.review-rating__level {
    display: flex;
    margin: 4px 0px;
    -webkit-box-align: center;
    align-items: center;
}

.process-bar {
    width: 138px;
    height: 6px;
    background-color: hsl(240deg 33% 97%);
    position: relative;
    z-index: 1;
    margin: 0px 8px;
    border-radius: 99px;
}

.process-bar>div {
    position: absolute;
    left: 0px;
    top: 0px;
    bottom: 0px;
    background-color: hsl(240deg 4% 52%);
    border-radius: 99px;
}

.review-rating__number {
    font-size: 11px;
    line-height: 16px;
    font-weight: 600;
    color: hsl(240deg 4% 52%);
}

.review-images__heading {
    margin: 0px 0px 16px;
    font-size: 17px;
    line-height: 24px;
    font-weight: 700;
}

.review-images__inner {
    display: flex;
}

.review-images__item {
    width: 120px;
    height: 120px;
    margin: 0px 16px 0px 0px;
    cursor: pointer;
}

.review-images__item:last-child {
    position: relative;
    z-index: 1;
}

.review-images__total {
    background-color: hsl(0deg 0% 14% / 70%);
    font-size: 17px;
    font-weight: 500;
    position: absolute;
    inset: 0px;
    line-height: 120px;
    text-align: center;
    color: hsl(0deg 0% 100%);
    border-radius: 4px;
}

.review-images__img {
    background-size: cover;
    border-radius: 4px;
    height: 100%;
    width: 100%;
    background-position: center center;
}

.filter-review {
    display: flex;
    padding: 40px 0px 32px;
}

.filter-review__label {
    flex-shrink: 0;
    font-size: 15px;
    line-height: 24px;
    margin: 0px 16px 0px 0px;
    padding-top: 4px;
    color: hsl(240deg 4% 23%);
    font-weight: 400;
}

.filter-review__inner {
    display: flex;
    flex-wrap: wrap;
}

.filter-review__item {
    height: 32px;
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    padding: 6px 12px;
    border-radius: 100px;
    color: hsl(240deg 4% 23%);
    background: hsl(240deg 33% 97%);
    margin: 0px 16px 12px 0px;
    cursor: pointer;
    display: flex;
    align-items: center;
    user-select: none;
}

.filter-review__check {
    display: none;
    width: 18px;
    height: 18px;
    margin-right: 11px;
}

.filter-review__check img {
    max-width: 100%;
}

.filter-review__star {
    color: hsl(0deg 0% 78%);
    margin-left: 4px;
}

.review-comment__user {
    width: 333px;
}

.review-comment__user-inner {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
}

.review-comment__user-avatar {
    margin: 0px 12px 0px 0px;
    width: 48px;
    height: 48px;
    background-size: cover;
    border-radius: 50%;
    position: relative;
}

.user-avatar {
    position: relative;
    height: 100%;
    width: 100%;
    background-color: hsl(0deg 0% 95%);
    border-radius: 50%;
    overflow: hidden;
}

.user-avatar img {
    display: none;
}

.user-avatar span {
    position: absolute;
    inset: 0px;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    font-size: 100%;
    font-weight: 800;
    color: hsl(0deg 0% 60%);
}

.review-comment__user-name {
    font-size: 15px;
    line-height: 24px;
    font-weight: 700;
    text-transform: capitalize;
}

.review-comment__user-date {
    font-size: 13px;
    line-height: 20px;
    color: hsl(240deg 4% 52%);
}

.review-comment__user-info {
    margin: 12px 0px 0px;
    color: hsl(240deg 4% 52%);
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    font-size: 13px;
    font-weight: 400;
    line-height: 20px;
}

.review-comment__user-info>img {
    width: 20px;
    height: 20px;
    margin: 0px 8px 0px 0px;
}

.review-comment__user-info>span {
    color: hsl(240deg 4% 23%);
    margin-left: 4px;
    font-weight: 600;
}

.review-comment__rating-top {
    margin-left: -65px;
    width: 808px;
}

.review-comment__rating-title {
    display: flex;
    align-items: center;
    margin: 0px 0px 4px;
}

.review-comment__rating span {
    margin: 0px 1px;
}

.review-comment__rating span:first-child {
    margin: 0px 1px 0px 0px;
}

.review-comment__title {
    margin: 0px 0px 0px 12px;
    font-size: 15px;
    line-height: 24px;
    font-weight: 700;
    color: hsl(0deg 0% 14%);
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
}

.review-comment__seller-name-attributes {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    margin: 0px 0px 16px;
}

.review-comment__seller-name {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    font-size: 13px;
    font-weight: 400;
    line-height: 20px;
    color: hsl(150deg 100% 34%);
}

.review-comment__check-icon {
    display: block;
    width: 14px;
    height: 14px;
    background-color: hsl(150deg 100% 34%);
    border-radius: 50%;
    position: relative;
    z-index: 1;
    margin: 0px 6px 0px 0px;
}

.review-comment__check-icon::before {
    content: "";
    width: 6px;
    height: 3px;
    border-left: 1px solid hsl(0deg 0% 100%);
    border-bottom: 1px solid hsl(0deg 0% 100%);
    position: absolute;
    display: block;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -70%) rotate(-45deg);
}

.review-comment__content {
    max-width: 780px;
    font-size: 13px;
    font-weight: 400;
    line-height: 20px;
    margin: 0px 0px 8px;
}

.review-comment__images {
    display: flex;
    margin: 0px -6px;
}

.review-comment__image {
    height: 152px;
    max-width: 152px;
    width: 100%;
    border-radius: 4px;
    background-size: cover;
    background-position: center center;
    margin: 0px 6px 8px;
    cursor: pointer;
}

.review-comment__created-date {
    font-size: 13px;
    line-height: 20px;
    margin: 0px 0px 16px;
    color: hsl(240deg 4% 52%);
}

.review-comment__attributes {
    font-size: 13px;
    line-height: 20px;
    color: hsl(240deg 4% 52%);
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    margin-bottom: 2px;
}

.review-comment__attributes--item {
    position: relative;
}

.review-comment__attributes--item>span::before {
    content: "";
    height: 2px;
    width: 2px;
    background-color: hsl(240deg 4% 52%);
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 0px;
    margin: -1px 0px 0px;
}

.review-comment__attributes--item>span {
    display: inline-block;
    padding: 0px 8px 0px 10px;
}

.review-comment__attributes .review-comment__attributes--item:first-child>span {
    padding-left: 0px;
}

.review-comment__created-date {
    font-size: 13px;
    line-height: 20px;
    margin: 0px 0px 16px;
    color: hsl(240deg 4% 52%);
}

.review-comment__time-line {
    position: relative;
    padding-left: 10px;
    margin-left: 8px;
}

.review-comment__time-line::before {
    content: "";
    height: 2px;
    width: 2px;
    background-color: hsl(240deg 4% 52%);
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 0px;
    margin: -1px 0px 0px;
}

.review-comment__thank {
    padding: 8px 16px;
    font-size: 14px;
    line-height: 20px;
    color: hsl(211deg 91% 47%);
    border: 1px solid hsl(211deg 91% 47%);
    font-weight: 700;
    border-radius: 4px;
    margin: 0px 24px 0px 0px;
    cursor: pointer;
    display: inline-block;
    user-select: none;
}

.review-comment__thank>svg {
    margin: 0px 8px 0px 0px;
}

.review-comment__thank>svg,
.review-comment__thank>span {
    display: inline-block;
    vertical-align: middle;
}

.review-comment__reply {
    padding: 8px 16px;
    font-size: 14px;
    line-height: 20px;
    color: hsl(211deg 91% 47%);
    font-weight: 700;
    cursor: pointer;
    display: inline-block;
    user-select: none;
}

.review-comment__sub-comments {
    margin: 16px 0px 0px;
}

.review-sub-comment__avatar-thumb {
    width: 32px;
    height: 32px;
    background-size: cover;
    margin: 0px 8px 0px 0px;
    border-radius: 50%;
    min-width: 32px;
}

.review-sub-comment__inner {
    padding: 10px 12px;
    border: 1px solid hsl(0deg 0% 95%);
    background-color: hsl(0deg 0% 98%);
    border-radius: 12px;
    -webkit-box-flex: 1;
    flex-grow: 1;
}

.review-sub-comment {
    display: flex;
    margin: 20px 0px 0px;
}

.review-sub-comment__avatar {
    display: flex;
    align-items: center;
}

.review-sub-comment__avatar-name {
    font-size: 13px;
    line-height: 20px;
    font-weight: 700;
    text-transform: capitalize;
}

.review-sub-comment__avatar-date {
    color: hsl(240deg 4% 52%);
    margin: 0px 0px 0px 6px;
    padding: 0px 0px 0px 8px;
    position: relative;
    z-index: 1;
    font-size: 13px;
    line-height: 20px;
    font-weight: 400;
}

.review-sub-comment__avatar-date::before {
    content: "";
    height: 2px;
    width: 2px;
    background-color: hsl(240deg 4% 52%);
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 0px;
    margin: -1px 0px 0px;
}

.review-sub-comment__content {
    font-size: 13px;
    line-height: 20px;
    margin: 4px 0px 0px;
}

.review-comment__count {
    margin: 16px 0px 0px;
    color: hsl(211deg 91% 47%);
    display: inline-block;
    cursor: pointer;
    font-weight: 700;
}

.review-comment__icon-more {
    width: 20px;
    height: 20px;
    margin: 0px 8px 0px 0px;
    display: inline-block;
    vertical-align: middle;
    position: relative;
    top: -2px;
}

.customer-reviews__pagination>ul {
    display: flex;
    justify-content: flex-end;
    padding: 0px 48px;
}

.customer-reviews__pagination>ul>li {
    margin-left: 8px;
}

.customer-reviews__pagination>ul>li .btn {
    cursor: pointer;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    width: 36px;
    height: 36px;
    color: hsl(0deg 0% 20%);
    font-weight: 600;
    border-radius: 18px;
    line-height: 20px;
}

.customer-reviews__pagination>ul>li .btn.active {
    cursor: default;
    color: hsl(0deg 0% 100%);
    background-color: hsl(205deg 100% 55%);
}

.customer-reviews__pagination>ul>li .btn.prev,
.customer-reviews__pagination>ul>li .btn.next {
    font-size: 20px;
}

.product-list-items-option,
.product-slide__wrapper-seen {
    background: #fff;
    border-radius: 4px;
}

.product-list-items-option {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 16px;
}

.scroll-widget-tabs {
    background: #F5F5FA;
    display: flex;
    flex-direction: column;
}

.scroll-widget-tabs h5 {
    height: 48px;
    padding: 10px 16px;
    background-color: hsl(0deg 0% 100%);
    flex: 1 1 0%;
    font-size: 20px;
    line-height: 28px;
    text-transform: capitalize;
    margin: 16px 0 4px;
    border-radius: 4px;
    font-weight: initial;
    font-weight: 700;
}

.scroll-widget {
    position: sticky;
    top: 0px;
    z-index: 10;
    border-radius: 4px 4px 0px 0px;
    background-color: #f5f5fa;
}

.scroll-widget-tab {
    margin-bottom: 4px;
}

.scroll-widget-tab .tab {
    border: 1px solid hsl(0deg 0% 100%);
    background-color: hsl(0deg 0% 100%);
    display: flex;
    flex-direction: column;
    -webkit-box-align: center;
    align-items: center;
    flex-shrink: 0;
    cursor: pointer;
    min-height: 78px;
    border-radius: 4px;
    padding: 4px 8px;
    margin: 0 -8px 0 0;
}

.scroll-widget-tab .tab.active {
    border: 1px solid hsl(212deg 87% 38%);
}

.tabcontent {
    display: none;
}

.scroll-widget-tab .tab img {
    transition: all 0.4s ease 0s;
    border-radius: 4px;
    object-fit: contain;
    max-width: 100%;
}

.scroll-widget-tab .tab>.tab-text {
    padding-top: 4px;
    font-size: 13px;
    line-height: 18px;
    text-align: center;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    overflow: hidden;
    display: -webkit-box;
    word-break: break-word;
    color: hsl(0deg 0% 47%);
}

.scroll-widget-tab .l-1-5 {
    margin: 0;
}

.product-list-items {
    background-color: hsl(240deg 33% 97%);
    padding-bottom: 16px;
    border-top: 1px solid hsl(0deg 0% 95%);
}

.product-item {
    display: flex;
    position: relative;
    cursor: pointer;
    width: 100%;
    height: 100%;
    color: #333;
    border-radius: 4px;
}

.product-item:hover {
    box-shadow: rgb(0 0 0 / 10%) 0px 0px 20px;
    z-index: 1;
}

.item-description {
    display: flex;
    padding: 12px;
    color: hsl(240deg 4% 23%);
    text-decoration: none;
    flex-direction: column;
    -webkit-box-pack: justify;
    justify-content: space-between;
    width: 100%;
    height: 100%;
}

.item-description .thumbnail {
    flex-shrink: 0;
    text-align: center;
    position: relative;
    width: 100%;
}

.badge-service {
    margin-bottom: 8px;
    margin-top: 12px;
}

.name h3 {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    font-size: 13px;
    margin: 0px 0px 4px;
    line-height: 20px;
    word-break: break-word;
    font-weight: 600;
    color: #333;
}

.price-discount.has-discount {
    color: hsl(356deg 100% 63%);
    display: flex;
    align-items: center;
    margin-top: 4px;
}

.price-discount__price {
    font-size: 16px;
    line-height: 24px;
    font-weight: 700;
}

.price-discount.has-discount .price-discount__discount {
    padding: 0px 2px;
    line-height: 14px;
    font-size: 12px;
    font-weight: 400;
    margin-left: 8px;
    border: 1px solid hsl(356deg 100% 63%);
    border-radius: 2px;
    background-color: hsl(356deg 100% 97%);
    color: hsl(356deg 100% 63%);
}

.badge-benefits {
    margin-top: 8px;
}

.badge-additional-info {
    display: flex;
    flex-wrap: wrap;
    margin-top: 8px;
}

.product-list-items-option>.view-more {
    margin-top: 12px;
    font-weight: 700;
    cursor: pointer;
    display: block;
    width: 240px;
    padding: 8px 12px;
    border-radius: 4px;
    border: 1px solid hsl(212deg 87% 38%);
    color: hsl(212deg 87% 38%);
    font-size: 13px;
    text-align: center;
}

.option-control,
.reviews__button,
.add-on-service,
.product-rating,
.mobile-price.has-discount,
.header-title,
.reviews__heading,
.total-rating,
.mobile-seller-info,
.product-list-items-option .show-more,
.mobile-image-total,
.review-comment__reply-icon,
.mobile-tiki-trading,
.seller-product-sold,
header,
.product-action-button {
    display: none;
}

.main-content__product-img {
    position: relative;
}

.main-content__product-img .image-total {
    position: absolute;
    bottom: 12px;
    right: 12px;
    padding: 4px 6px;
    border-radius: 2px;
    background: hsl(0deg 0% 14% / 50%);
    z-index: 2;
    color: hsl(0deg 0% 100%);
    font-size: 11px;
    line-height: 16px;
    transition: bottom 500ms ease 0s;
}

.preview-thumnail-product-items__title img {
    display: none;
}