* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.d-flex {
    display: flex;
}

header {
    z-index: 20;
    height: 80px;
    padding: 10px;
    background-color: #00000000;
    color: var(--white-color);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    transition: all .5s ease;
}

.sticky {
    background-color: var(--primary-color);
    padding: 5px 0;
    height: 60px;
}

.header a {
    font-weight: bold;
    text-decoration: none;
    color: var(--white-color);
}

.header-logo img {
    width: 55px;
    height: 50px;
    margin-right: 87px;
}

.header-menu img {
    width: 13px;
    height: 13px;
}

.header {
    display: flex;
    justify-content: space-between;
    line-height: 48px;
}

.header-option {
    display: flex;
}

.header-menu a {
    text-decoration: none;
    margin-right: 40px;
    padding: 20px 2px;
    color: var(--white-color);
    letter-spacing: 1px;
    border-bottom: 2px solid #ffffff00;
    font-weight: bold;
    letter-spacing: 1px;
}

.slick-slide1 {
    max-width: 100%;
    position: relative;
    color: var(--white-color);
    height: 395px;
    background-image: url(https://datax-talent.basecdn.net/tiki/slider/slider-01.jpg);
}

.banner-social img {
    height: 20px;
    width: 20px;
    padding-right: 5px;
}

.banner-social a {
    text-decoration: none;
    color: var(--white-color);
    display: inline-flex;
    font-weight: bold;
    padding: 0 5%;
    letter-spacing: 1px;
    padding: 0 55px;
}

.banner-title {
    font-size: 60px;
    font-weight: bold;
    line-height: 1;
    letter-spacing: 0px;
    position: absolute;
    top: 45%;
    left: 57%;
    width: 100%;
    z-index: 1;
    transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
}

.banner-social {
    position: absolute;
    bottom: 15%;
    left: 7%;
    letter-spacing: 13px;
    width: 100%;
    line-height: 20px;
    z-index: 1;
}

.banner-input {
    position: absolute;
    bottom: 15px;
    display: flex;
    gap: 8px;
    left: 45%;
    width: 100%;
    padding: 0;
    margin: 0;
    list-style: none;
    text-align: center;
    z-index: 99;
}

.banner-input button {
    display: block;
    padding: 0px;
    width: 12px;
    height: 12px;
    cursor: pointer;
    color: hsl(0deg 0% 0% / 0%);
    border: 0;
    outline: 0;
    opacity: 0.6;
    background: hsl(0deg 0% 100%);
    -moz-border-radius: 100%;
    -webkit-border-radius: 100%;
    border-radius: 100%;
}

.component__top {
    position: fixed;
    background-color: var(--primary-color);
    color: var(--white-color);
    opacity: 0;
    bottom: 60px;
    right: 20px;
    z-index: 300;
    width: 50px;
    height: 50px;
    border-radius: 2px;
    display: flex;
    text-decoration: none;
    justify-content: center;
    align-items: center;
    transition: all .5s ease;
}

.show {
    opacity: 1;
}

#component__top i {
    font-size: 20px;
    text-align: center;
}

.section-about {
    background-color: #e6e6e6;
}

.title--main1 {
    color: var(--primary-color);
    font-size: 50px;
    font-weight: bold;
    line-height: 1.2;
    padding: 48px 0 43px 0;
    letter-spacing: -1px;
    font-weight: bold;
    display: block;
    text-align: left;
}

.title--main {
    color: var(--primary-color);
    font-size: 50px;
    font-weight: bold;
    line-height: 1.2;
    padding: 56px 0 43px 0;
    letter-spacing: -1px;
    font-weight: bold;
    display: inline-block;
}

.about-text {
    width: 93%;
    word-spacing: 2px
}

.about-video {
    width: 80%;
    margin: 0 58px;
    height: 100%;
    left: 28px;
    top: 0px;
}

.box h3 {
    color: hsl(0deg 0% 20%);
    font-size: 25px;
    font-weight: bold;
    margin: 7px 0 26px 0;
    text-align: left;
    min-width: 186px;
}

.box a {
    display: inline-block;
    color: hsl(0deg 0% 20%);
    font-size: 16px;
    padding: 15px 6px;
    border: 1px solid hsl(0deg 0% 80%);
    text-decoration: none;
    min-width: 175px;
    text-align: center;
}

.box a:hover {
    color: hsl(0deg 0% 100%);
    border-color: hsl(202deg 72% 50%);
    background-color: hsl(202deg 72% 50%);
}

.section-benefit-image img {
    height: 80px;
    width: 80px;
}

.overview--image img {
    width: 130px;
    height: 80px;
}

.section-benefit-overview--image img {
    width: 100%;
    height: 515px;
    margin: 45px 0;
}

.box-image img {
    width: 180px;
    height: 200px;
    object-fit: cover;
    font-family: 'object-fit: cover;';
    border-radius: 15px 15px 0px 0px;
}

.foo-logo img {
    width: 110px;
    height: 100px;
}

.foo-social img {
    width: 16px;
    height: 16px;
}

.about-content {
    padding-bottom: 50px;
}

.about-content p {
    line-height: 22px;
    margin-bottom: 10px;
}

.about-video {
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-video iframe {
    width: 100%;
    height: 100%;
}

.section--head {
    display: block;
    text-align: center;
}

.job-category {
    margin-bottom: 50px;
}

.job-category-departments {
    display: flex;
    justify-content: center;
}

.job-category-department .box {
    padding: 0 90px;
    border-radius: 2px;
}

.title {
    text-align: center;
    padding-top: 55px;
    font-size: 23px;
    margin-bottom: 20px;
    line-height: 20px;
    font-weight: bold;
    color: var(--text-color);
    width: 259px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    text-overflow: ellipsis;
    overflow: hidden;
}

.section-benefit-items {
    justify-content: center;
}

.section-benefit-item {
    padding: 0 30px;
}

.section-benefit-image {
    display: flex;
    justify-content: center;
}

.section-benefit-overview--image,
.overview--image {
    display: flex;
    justify-content: center;
}

.overview--title {
    text-align: center;
    color: var(--text-color);
    font-size: 20px;
    margin: 53px 0 15px 0;
}

.overview--desc {
    width: 251px;
    -webkit-line-clamp: 7;
    font-size: 14px;
    margin: 0px auto;
    line-height: 22px;
    font-weight: normal;
    text-overflow: ellipsis;
    overflow: hidden;
    padding: 5px;
}

.overview--text-flex {
    display: flex;
    justify-content: center;
    margin: 40px 0;
}

.overview--text-flex1 {
    display: flex;
    justify-content: center;
    margin: 65px 0 35px 0;
}

.overview--text .overview__item {
    padding: 0 15px;
}

.slick-slide2 img {
    max-width: 1280px;
    margin-top: 50px;
    height: auto;
    object-fit: contain;
    position: relative;
}

.customer__content {
    left: 80px;
    position: absolute;
    bottom: 40%;
    color: var(--text-color);
}

.customer--quote {
    margin: 20px 0;
    font-style: italic;
    line-height: 23px;
}

.desc-banner {
    position: relative;
}

.customer--info {
    position: absolute;
    right: 0;
    bottom: -48px;
    letter-spacing: 1px;
}

.info-name {
    float: right;
    font-weight: 500;
    color: #333333;
}

.info-position {
    clear: both;
    float: right;
    font-weight: 300;
    font-size: 13px;
    margin-top: 5px;
}

.customer-input {
    position: absolute;
    left: 45%;
    bottom: 10px;
    outline: none;
}

.blog-row {
    margin-bottom: 60px;
}

.news-box-section {
    width: 90%;
}

.news-box {
    box-shadow: 0px 0px 5px #ccc;
    border-radius: 15px;
    transition: transform .5s;
}

.news-box:hover {
    transform: scale(1.1);
}

.news-box a {
    margin-top: -8px;
    text-decoration: none;
    line-height: 25px;
    font-size: 19px;
    word-spacing: 1px;
}

.news-box img {
    width: 100%;
    object-fit: cover;
    font-family: 'object-fit: cover;';
    border-radius: 15px 15px 0px 0px;
}

.box-info {
    padding: 15px;
    border-radius: 15px 15px 0px 0px;
}

.box-info-title {
    height: 90px;
    display: flex;
    justify-content: center;
}

.box-info .note {
    height: 85px;
    color: var(--text-color);
    font-size: 14px;
    line-height: 22px;
    margin: 5px 0 10px 0;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 4;
    text-overflow: ellipsis;
    overflow: hidden;
}

.box-info-title a {
    color: #333333;
    width: 315px;
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    text-overflow: ellipsis;
    overflow: hidden;
}

.box-info-title a:hover {
    color: var(--primary-color);
}

#footer {
    background-color: var(--background-color);
    padding: 80px 0px 60px 0px;
    color: var(--text-color);
    line-height: 25px;
}

#footer a,
#footer li {
    color: var(--text-color);
    text-decoration: none;
    list-style: none;
    padding-bottom: 10px;
}

#footer a:hover {
    color: var(--primary-color);
}

.links__footer--title {
    color: var(--primary-color);
    font-size: 20px;
    margin-bottom: 20px;
}

.bottom--footer {
    font-size: 13px;
}

.foo-info {
    width: 265px;
}

.show-on-mobile-tablet {
    display: none;
}

.tpl4__hamburger {
    display: none;
}

.tpl4__menu {
    display: none;
}