ul {
    list-style: none;
}

a {
    text-decoration: none;
}

.navigation {
    background-color: #f5f5fa;
    height: 40px;
    line-height: 40px;
    font-size: 14px;
}

.navigation a {
    color: #808089;
}

.main-content {
    background-color: #f5f5fa;
}

.main-Product__list {
    background-color: #ffffff;
}

.main-product {
    width: 955px;
    margin: -8px 0 -8px -160px;
}

.side-bar {
    width: 250px;
    border-radius: 4px 0 0 4px;
    margin: -8px;
    background-color: #fff;
    overflow: hidden;
    border-right: 1px solid hsl(0deg 0% 97%)
}

.side-bar__title {
    font-size: 14px;
    padding: 0 8px 12px 16px;
}

.side-bar__title h4 {
    line-height: 20px;
    display: block;
    color: hsl(0deg 0% 14%);
    font-size: 13px;
    padding: 14px 0px;
    font-weight: 700;
    text-transform: uppercase;
}

.side-bar__title ul li {
    padding-bottom: 8px;
    font-size: 13px;
    padding: 0px 0px 8px;
    line-height: 20px;
}

.side-bar__delivery-address {
    padding: 0 8px 12px 16px;
    border-top: 1px solid #f7f7f7;
}

.side-bar__delivery-address h4 {
    line-height: 20px;
    display: block;
    color: hsl(0deg 0% 14%);
    font-size: 13px;
    padding: 14px 0px;
    font-weight: 700;
    text-transform: uppercase;
}

.side-bar__delivery-address h5 {
    text-decoration: underline;
    font-size: 13px;
    line-height: 20px;
    font-weight: 600;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.side-bar__delivery-address a {
    color: hsl(212deg 87% 38%);
    font-size: 13px;
    line-height: 20px;
    font-weight: 700;
    flex-shrink: 0;
    cursor: pointer;
}

.side-bar__services {
    padding: 0px 8px 12px 16px;
    border-top: 1px solid #f7f7f7;
}

.side-bar__services h5 {
    line-height: 20px;
    display: block;
    color: hsl(0deg 0% 14%);
    font-size: 13px;
    padding: 14px 0px;
    font-weight: 700;
    text-transform: uppercase;
}

.side-bar__services ul li {
    display: flex;
    align-items: center;
    font-size: 13px;
    line-height: 20px;
    text-transform: capitalize;
    margin-bottom: 4px;
}

.side-bar__services input {
    width: 15px;
    height: 15px;
    margin-right: 7px;
}

.side-bar__services-img {
    display: flex;
    align-items: center;
    gap: 4px;
}

.side-bar__services-img span {
    transform: translateY(3px);
}

.place-of-sale {
    border-top: 1px solid #f7f7f7;
    padding: 0px 8px 12px 16px;
}

.place-of-sale h5 {
    line-height: 20px;
    display: block;
    color: hsl(0deg 0% 14%);
    font-size: 13px;
    padding: 14px 0px;
    font-weight: 700;
    text-transform: uppercase;
}

.place-of-sale ul li {
    display: flex;
    align-items: center;
    font-size: 13px;
    color: hsl(0deg 0% 14%);
    padding: 0px 0px 8px;
    line-height: 20px;
}

.place-of-sale input {
    width: 15px;
    height: 15px;
    margin-right: 7px;
}

.place-of-sale a {
    display: flex;
    align-items: center;
    color: #0d5bb5;
    font-size: 13px;
    font-weight: 700;
    line-height: 20px;
    margin-top: 14px;
    cursor: pointer;
}

.evaluate {
    border-top: 1px solid #f7f7f7;
    padding: 0px 8px 12px 16px;
}

.evaluate h5 {
    line-height: 20px;
    display: block;
    color: #242424;
    font-size: 13px;
    padding: 14px 0px;
    font-weight: 700;
    text-transform: uppercase;
}

.evaluate ul li {
    padding: 5px 0px;
    display: flex;
    gap: 3px;
    align-items: center;
    font-size: 13px;
    color: hsl(0deg 0% 14%);
    padding: 0px 0px 8px;
    line-height: 20px;
}

.price {
    border-top: 1px solid #f7f7f7;
    padding: 0px 8px 12px 16px;
}

.price h5 {
    line-height: 20px;
    display: block;
    color: #242424;
    font-size: 13px;
    padding: 14px 0px;
    font-weight: 700;
    text-transform: uppercase;
}

.price ul {
    display: flex;
    flex-wrap: wrap;
}

.price li p {
    background: #ededed;
    font-size: 13px;
    padding: 2px 12px;
    line-height: 20px;
    display: inline-block;
    color: hsl(0deg 0% 14%);
    border-radius: 12px;
    margin-bottom: 4px;
}

.price ul {
    display: flex;
    flex-direction: column;
}

.price-range p {
    color: #858585;
    font-size: 13px;
    padding-bottom: 5px;
    margin-top: 4px;
}

.price-range button {
    background: hsl(0deg 0% 100%);
    border: 1px solid hsl(212deg 87% 38%);
    font-size: 12px;
    color: hsl(212deg 87% 38%);
    padding: 5px 15px;
    width: 99px;
    margin-top: 8px;
    border-radius: 4px;
}

.input-group {
    display: flex;
    width: 60%;
}

.input-group input {
    display: block;
    width: 90px;
    flex: 1 1 0%;
    height: 30px;
    padding: 0px 8px;
    background: hsl(0deg 0% 100%);
    border-radius: 4px;
    text-align: left;
    border: 1px solid hsl(0deg 0% 72%);
    outline: 0px;
    font-size: 13px;
}

.input-group span {
    width: 7px;
    height: 1px;
    font-size: 0px;
    display: inline-block;
    background: hsl(0deg 0% 60%);
    margin: 0px 4px;
}

.input-range {
    display: flex;
    align-items: center;
}

.rom-options,
.brand,
.rear-camera,
.front-camera,
.battery,
.screen-size,
.ram-options,
.color-options,
.supplier {
    border-top: 1px solid #f7f7f7;
    padding: 0px 8px 12px 16px;
}

.rom-options h5,
.brand h5,
.rear-camera h5,
.front-camera h5,
.battery h5,
.screen-size h5,
.ram-options h5,
.color-options h5,
.supplier h5 {
    line-height: 20px;
    display: block;
    color: hsl(0deg 0% 14%);
    font-size: 13px;
    padding: 14px 0px;
    font-weight: 700;
    text-transform: uppercase;
}

.rom-options input,
.brand input,
.rear-camera input,
.front-camera input,
.battery input,
.screen-size input,
.ram-options input,
.color-options input,
.supplier input {
    width: 15px;
    height: 15px;
    margin-right: 7px;
}

.rom-options a,
.brand a,
.rear-camera a,
.front-camera a,
.battery a,
.screen-size a,
.ram-options a,
.color-options a,
.supplier a {
    display: flex;
    align-items: center;
    color: hsl(212deg 87% 38%);
    font-size: 13px;
    font-weight: 700;
    line-height: 20px;
    margin-top: 14px;
    cursor: pointer;
}

.rom-options ul li,
.brand ul li,
.rear-camera ul li,
.front-camera ul li,
.battery ul li,
.screen-size ul li,
.ram-options ul li,
.color-options ul li,
.supplier ul li {
    display: flex;
    align-items: center;
    font-size: 13px;
    color: hsl(0deg 0% 14%);
    padding: 0px 0px 8px;
    line-height: 20px;
}

.nav-product ul {
    display: flex;
}

.product-item {
    border: 1px solid hsl(0deg 0% 0% / 0%);
}

.item-thumbnail {
    display: flex;
    padding: 12px 16px;
    color: hsl(0deg 0% 14%);
    text-decoration: none;
    flex-direction: column;
    -webkit-box-pack: justify;
    justify-content: space-between;
}

.item-thumbnail .thumbnail {
    flex-shrink: 0;
    width: 200px;
    height: 200px;
    margin: 0px 12px 12px;
    text-align: center;
    position: relative;
}

.item-thumbnail .thumbnail img {
    position: absolute;
}

.item-thumbnail .thumbnail .image-wrapper {
    width: 100%;
    padding-top: 100%;
    position: relative;
}

.item-thumbnail .thumbnail .image-wrapper img {
    position: absolute;
    top: 0px;
    left: -2px;
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.slide-root {
    position: relative;
}

.slide-item {
    display: inline-block;
    width: 25%;
}

.image-wrapper {
    width: 100%;
    padding-top: 100%;
    position: relative;
}

.image-wrapper img {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.pagination-root ul {
    display: flex;
    justify-content: end;
    margin: 14px 0;
}

.pagination-root ul li a {
    display: inline-block;
    font-weight: 500;
    color: hsl(0deg 0% 20%);
    text-decoration: none;
    margin: 0px 5px;
    border-radius: 50%;
    width: 27px;
    height: 27px;
    line-height: 28px;
    text-align: center;
    font-size: 12px;
    cursor: pointer;
}

.pagination-root ul li a:hover {
    background: hsl(203deg 100% 88%);
    opacity: 0.95;
}

ul li a.current {
    font-weight: 400;
    background: hsl(205deg 100% 55%);
    color: hsl(0deg 0% 100%);
    margin: 0px 5px;
    border-radius: 50%;
    width: 27px;
    height: 27px;
    line-height: 28px;
    text-align: center;
    font-size: 12px;
}

.pagination-root ul li a i {
    background-image: url(../img/sprite@2x.png?v=100000000);
    background-size: 404px 383px;
    background-position: -392px -189px;
    width: 8px;
    height: 14px;
    margin-bottom: 1px;
}

.main-product .title {
    padding: 16px 0px 0px 16px;
    display: block;
    font-weight: 500;
    font-size: 24px;
}

.slick-track {
    display: flex;
}

.slick-slider {
    display: flex;
    position: relative;
}

.main-product .category-slide-wrapper .slick-slider .slick-list {
    padding: 0px 120px 0px 0px !important;
    transition: undefined 0s ease 0s;
}

.filter-items {
    padding-top: 20px;
    padding-left: 16px;
    display: flex;
    flex-wrap: wrap;
}

.filter-items .item {
    background: hsl(0deg 0% 93%);
    cursor: pointer;
    font-size: 13px;
    padding: 2px 12px;
    line-height: 20px;
    position: relative;
    border-radius: 100px;
    display: flex;
    margin-right: 10px;
    height: 24px;
    -webkit-box-align: center;
    align-items: center;
}

.nav-product {
    border-bottom: 1px solid hsl(0deg 0% 95%);
    padding: 16px 0px 0px;
    margin-right: 10px;
}

.nav-product ul li a {
    text-transform: capitalize;
    cursor: pointer;
    font-weight: 400;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.54;
    letter-spacing: normal;
    color: hsl(0deg 0% 14%);
    display: inline-block;
    font-size: 13px;
    margin: 0px 16px;
    padding: 8px;
}

.nav-product ul li a:hover,
.nav-product ul li a.active {
    color: hsl(212deg 87% 38%);
    font-weight: 700;
    border-bottom: 4px solid hsl(212deg 87% 38%);
}

.badge-benefits {
    margin-top: 8px;
}

.badge-benefits .item {
    display: flex;
    margin-top: 4px;
}

.badge-benefits .item>span {
    font-size: 11px;
    line-height: 16px;
    margin-left: 4px;
    font-weight: 500;
}

.freegift-list {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
}

.freegift-list>.icon {
    width: 18px;
    height: 16px;
}

.freegift-list>span {
    height: 16px;
    font-size: 11px;
    line-height: 1.45;
    margin-left: 4px;
}

.freegift-list .gift-image-list__item {
    width: 32px;
    height: 32px;
    border-radius: 2.1px;
    margin-left: 8px;
}

.badge-additional-info {
    display: flex;
    flex-wrap: wrap;
    margin-top: 8px;
}

.category-slide-wrapper {
    overflow: hidden;
    margin-top: 12px;
}

.slick-arrow .icon {
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    width: 32px;
    height: 32px;
    padding-right: 2px;
    background-color: hsl(0deg 0% 100%);
    border: 1px solid hsl(0deg 0% 80%);
    border-radius: 16px;
    vertical-align: middle;
    background-repeat: no-repeat;
    background-position: 0px 0px;
}

.slick-slide>div {
    margin-right: 10px;
    height: 100%;
}

.slick-next {
    cursor: pointer;
    right: 10px;
}

.slick-next:hover {
    opacity: 1;
}

.slick-arrow {
    position: absolute;
    top: 50%;
    margin-top: -16px;
    opacity: 0.3;
    z-index: 1;
}

.slick-arrow i {
    background-image: url(../img/sprite@2x.png?v=100000000);
    background-size: 404px 383px;
    background-position: -392px -189px;
    width: 8px;
    height: 14px;
}

.product-slide__wrapper {
    padding-bottom: 0;
}

.webpimg-container {
    background-image: none;
}