@media (max-width: 1023px) {
    .hide-on-mobile-tablet {
        display: none;
    }

    #header__responsive {
        display: block;
    }

    header {
        position: fixed;
        z-index: 10;
        top: 0px;
        left: 0px;
        right: 0px;
        background-color: hsl(203deg 100% 55%);
        display: flex;
        justify-content: space-between;
        -webkit-box-align: center;
        align-items: center;
        padding: 0px 8px;
        height: 56px;
    }

    .styles__styledTikiNgonLink {
        position: fixed;
        border: 1px solid hsl(0deg 0% 100%);
        background: hsl(203deg 100% 55%);
        padding: 7px 12px 5px;
        color: hsl(0deg 0% 100%);
        font-size: 12px;
        right: 15px;
        top: 12px;
        z-index: 15;
        border-radius: 4px;
        display: flex;
        -webkit-box-align: end;
        align-items: end;
    }

    .btn-back {
        min-width: 40px;
        height: 40px;
        padding: 0px;
        border: 0px;
        background: 0px center;
        outline: 0px;
        color: hsl(0deg 0% 100%);
        display: flex;
        -webkit-box-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        align-items: center;
    }

    .headerCart__title {
        color: hsl(0deg 0% 100%);
        font-size: 17px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        flex: 1 1 0%;
        text-align: center;
        padding-right: 40px;
    }

    .styles__styledTopMessage {
        display: flex;
        color: #7E5CB6;
        background-color: hsl(203deg 100% 95%);
        display: flex;
        -webkit-box-align: center;
        align-items: center;
        padding: 10px 15px;
    }

    .styles__styledTopMessage .icon {
        display: flex;
        align-items: center;
        padding-top: 8px;
        height: 12px;
    }

    .styles__styledAddress {
        display: flex;
        -webkit-box-align: center;
        align-items: center;
        justify-content: space-between;
        padding: 11px 16px;
        margin-bottom: 8px;
        background-color: hsl(0deg 0% 100%);
    }

    .left .name-phone {
        font-weight: 900;
        font-size: 15px;
        display: flex;
        -webkit-box-align: center;
        align-items: center;
        margin: 0px 0px 10px;
    }

    .name-phone .name {
        border-right: 1px solid #EFEFEF;
        padding-right: 3px;
        margin-right: 3px;
    }

    p.address {
        font-size: 13px;
        color: hsl(0deg 0% 47%);
        line-height: 20px;
        margin-right: 3px;
    }

    .type--office {
        color: hsl(30deg 98% 51%);
        background: hsl(30deg 100% 96%);
        padding: 1px 6px;
        border-radius: 100px;
        margin-right: 5px;
        font-weight: 500;
        font-size: 12px;
    }

    .styles__styledHeading {
        display: flex;
        -webkit-box-pack: justify;
        justify-content: space-between;
        position: sticky;
        top: 56px;
        left: 0px;
        width: 100%;
        z-index: 5;
        background: hsl(0deg 0% 100%);
        padding: 11px 16px;
    }

    .styles__styledHeading .label {
        padding-left: 10px;
    }

    .seller__name {
        margin: 0px 0px 10px 15px;
        padding: 0px;
        font-weight: 500;
        line-height: normal;
        display: flex;
        -webkit-box-align: center;
        align-items: center;
    }

    .seller__icon-home {
        width: 15px;
        display: inline-block;
        margin: 0 5px 0 10px;
        position: relative;
        top: -1px;
    }

    .seller__name-link {
        display: flex;
        font-size: 15px;
        color: hsl(0deg 0% 14%);
        text-decoration: none;
    }

    .styles__progress {
        display: flex;
        -webkit-box-align: center;
        align-items: center;
        height: 48px;
        margin-left: 15px;
        gap: 20px;
    }

    .milestone-info {
        position: absolute;
        top: -21px;
        font-size: 11px;
        line-height: 16px;
        color: hsl(240deg 4% 52%);
        font-weight: 300;
    }

    .milestone-info--bottom {
        top: 8px;
    }

    .styles__suggestList {
        max-height: 24px;
        overflow: hidden;
        transition: max-height 0.5s ease-in-out 0s;
    }


    .content {
        display: flex;
        -webkit-box-pack: justify;
        justify-content: space-between;
        -webkit-box-align: center;
        align-items: center;
    }

    .item-inner {
        margin-top: 15px;
        display: flex;
        -webkit-box-pack: justify;
        justify-content: space-between;
    }

    .item-img img {
        width: 80px;
        height: 80px;
    }

    .item-name {
        line-height: 20px;
        display: -webkit-box;
        text-overflow: ellipsis;
        overflow: hidden;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        color: hsl(0deg 0% 14%);
        margin-bottom: 7px;
        text-decoration: none;
        position: relative;
        width: 500px;
    }

    .item-delivery-title {
        text-transform: uppercase;
        font-size: 13px;
        display: block;
        color: hsl(120deg 100% 30%);
        margin-bottom: 10px;
        font-weight: 500;
    }

    .item__real-prices {
        color: hsl(356deg 100% 63%);
        display: inline-block;
        font-size: 15px;
        font-weight: 900;
    }

    .item__discount-prices {
        color: hsl(0deg 0% 60%);
        font-size: 11px;
        display: inline-block;
        margin-left: 10px;
    }

    .item-logo {
        display: inline-block;
        margin-right: 10px;
        position: relative;
    }

    .styles__styledQty {
        display: flex;
        flex-wrap: nowrap;
        border: 1px solid hsl(0deg 0% 78%);
        border-radius: 4px;
        width: 84px;
    }

    .qty-decrease,
    .qty-increase {
        display: inline-block;
        border-right: 1px solid hsl(0deg 0% 88%);
        color: hsl(0deg 0% 60%);
        cursor: pointer;
        width: 24px;
        height: 24px;
    }

    .qty-increase {
        border-right: none;
        border-left: 1px solid hsl(0deg 0% 88%);
    }

    .qty-input {
        border: none;
        background: hsl(0deg 0% 0% / 0%);
        width: 32px;
        text-align: center;
        font-size: 13px;
        appearance: none;
        margin: 0px;
        outline: none;
        line-height: 24px;
    }

    .item-action {
        display: flex;
        -webkit-box-pack: justify;
        justify-content: space-between;
        margin-top: 7px;
        -webkit-box-align: center;
        align-items: center;
    }

    .item__out-off-stock {
        display: block;
        color: hsl(30deg 98% 51%);
        font-size: 11px;
        margin-top: 5px;
    }

    .item-delete {
        color: hsl(211deg 91% 47%);
        font-size: 13px;
        display: flex;
        align-items: center;
    }

    .styles__styledItems {
        position: relative;
        padding: 0 16px 1px;
    }

    .styles__styledSellersBlock {
        padding-bottom: 20px;
    }

    .styles__styledSellerDiscount {
        padding: 9px 0px;
        display: flex;
        -webkit-box-align: center;
        align-items: center;
        -webkit-box-pack: justify;
        justify-content: space-between;
        border-top: 1px solid hsl(0deg 0% 95%);
    }

    .common__container {
        position: relative;
        padding: 11px 16px;
        margin-bottom: 8px;
        background-color: hsl(0deg 0% 100%);
    }

    .lazyLoad {
        background-color: #EFEFEF;
        padding-top: 10px;
    }

    .summary-calc {
        display: flex;
        -webkit-box-pack: justify;
        justify-content: space-between;
        font-size: 13px;
        line-height: 20px;
    }

    .row__value {
        color: hsl(0deg 0% 14%);
        font-weight: 900;
    }

    .styles__styledTikiCoupons {
        display: flex;
        justify-content: space-between;
        position: fixed;
        left: 0px;
        right: 0px;
        bottom: 90px;
        padding: 12px 16px;
        background: hsl(0deg 0% 100%);
        z-index: 13;
        border-bottom: 1px solid hsl(0deg 0% 88%);
        box-shadow: rgb(242 242 242) 0px 1px 0px inset;
    }

    .styles__styledButtonBlock {
        background-color: hsl(0deg 0% 100%);
        position: fixed;
        bottom: 0px;
        left: 0px;
        width: 100vw;
        height: 90px;
        padding: 9px 16px 16px;
        display: flex;
        -webkit-box-pack: justify;
        justify-content: space-between;
        -webkit-box-align: center;
        align-items: center;
        z-index: 13;
    }

    .wrapper__left,
    .wrapper__right {
        display: flex;
        -webkit-box-align: center;
        align-items: center;
    }

    .wrapper__left img {
        margin-right: 6px;
    }

    .right__button {
        color: hsl(0deg 0% 100%);
        background-color: hsl(356deg 100% 63%);
        border-radius: 4px;
        width: 136px;
        height: 44px;
        display: flex;
        -webkit-box-align: center;
        align-items: center;
        -webkit-box-pack: center;
        justify-content: center;
        margin-right: 16px;
    }

    .left__title {
        color: hsl(0deg 0% 14%);
        font-size: 13px;
        line-height: 20px;
    }

    .left__text {
        font-size: 15px;
        color: hsl(356deg 100% 63%);
        margin-top: 5px;
    }

}

@media (min-width: 740px) and (max-width: 1023px) {
    /* :root {
        --header-height: 54px;
        --navbar-height: 0px;
    } */

    /* .hide-on-tablet {
        display: none;
    } */



}

@media (max-width: 739px) {

    .hide-on-mobile {
        display: none;
    }

}