@media (max-width: 1023px) {
    .hide-on-mobile-tablet {
        display: none;
    }

    .header-logo img {
        position: absolute;
        left: 20px;
    }

    .show-on-mobile-tablet {
        display: block;
    }

    .banner__text {
        color: hsl(209deg 100% 55%);
        padding: 20px 0px;
        min-height: auto;
        position: static;
        transform: initial;
    }

    .banner__text .container {
        padding: 0px 60px;
    }

    .banner-title-responsive {
        font-size: 36px;
    }

    .social img {
        width: 18px;
    }

    .social a {
        display: block;
        color: hsl(209deg 100% 55%);
        margin-bottom: 5px;
        padding: 0px;
        text-decoration: none;
    }

    .banner-social {
        position: static;
        padding: 0px 0px 20px;
    }

    .banner-social-responsive .container {
        padding: 0 20px 20px 20px;
    }

    .about-video {
        height: 250px;
    }

    .box,
    .box h3 {
        text-align: center;
    }

    .title--main {
        width: 100%;
    }

    .news-box-section {
        margin-bottom: 15px;
    }

    .title {
        width: 100%;
    }

    .tpl4__hamburger {
        display: block;
        top: 5px;
        right: 20px;
        position: absolute;
        font-size: 20px;
    }

    .items {
        display: flex;
        flex-direction: column;
    }

    .tpl4__menu {
        /* display: none; */
    }

    .tpl4__menu a {}

    .tpl4__menu img {
        height: 12px;
        width: 12px;
    }

}

@media (min-width: 740px) and (max-width: 1023px) {
    /* :root {
        --header-height: 54px;
        --navbar-height: 0px;
    } */

    /* .hide-on-tablet {
        display: none;
    } */



}

@media (max-width: 739px) {

    .hide-on-mobile {
        display: none;
    }

    .container,
    .title--main1,
    .about-text {
        padding-left: 20px;
    }

    #footer {
        padding-left: 20px;
    }

}