@media (max-width: 1023px) {
    .hide-on-mobile-tablet {
        display: none;
    }

    .nav-header {
        background-color: #1414C1;
    }

    .show {
        display: block;
        position: fixed;
        z-index: 1000000;
        top: 100px;
        padding: 10px;
        background-color: var(--background-color);
    }

    .visible {
        display: block;
    }

    .nav-header {
        position: fixed;
        z-index: 10;
        width: 100%;
    }

    .nav-header .main-header {
        justify-content: space-between;
    }

    .header__responsive-icon {
        visibility: visible;
        display: block;
        font-size: 30px;
        margin-top: 30px;
    }

    .nav-header-responsive__logo {
        display: block;
        margin-top: 30px;
    }

    .header-logo img {
        height: 30px;
        width: 40px;
        margin-top: -6px;
    }

    .mobile-input,
    .mobile-icon-search {
        display: block;
    }

    .nav-header-responsive__logo img {
        height: 15px;
        margin: -6px 0 0;
    }

    .header-notification {
        position: absolute;
        display: block;
        bottom: -2px;
        left: -30px
    }

    .header-cart {
        position: relative;
    }

    .header-cart i {
        display: block;
        font-size: 20px;
        padding-right: 13px;
        margin-top: -2px;
    }

    .header-cart-notice {
        position: absolute;
        padding: 2px 6px;
        border-radius: 100%;
        background-color: hsl(51deg 86% 60%);
        left: 12px;
        top: 9px;
    }

    .stricky {
        position: relative;
    }

    .mobile-nav {
        display: flex;
        background-color: #fff;
        justify-content: space-between;
    }
}

@media (min-width: 740px) and (max-width: 1023px) {
    /* :root {
        --header-height: 54px;
        --navbar-height: 0px;
    } */

    /* .hide-on-tablet {
        display: none;
    } */

    .watch-now {
        margin-top: 100px;
    }

    .img .left,
    .img .right {
        top: 25%;
    }

    .d-flex1 {
        width: 200px;
    }

}

@media (max-width: 739px) {

    .hide-on-mobile {
        display: none;
    }

    .watch-now {
        margin-top: 100px;
    }

    .img .left,
    .img .right {
        top: 25%;
    }

}